
        <!-- Content Start -->
         
        <div class="content">
            <div class="navbar navbar-expand bg-light navbar-light sticky-top px-4 py-0">
                <div class="input-group">
                    <input id="search-input" class="form-control border-0" type="search" placeholder="Search">
                    <button id="search-prev" class="btn btn-outline-secondary" type="button" title="Previous">
                        <i class="bi bi-chevron-up"></i>
                    </button>
                    <button id="search-next" class="btn btn-outline-secondary" type="button" title="Next">
                        <i class="bi bi-chevron-down"></i>
                    </button>
                    <span id="search-count" class="input-group-text bg-white border-0">0/0</span>
                </div>
            </div>
            <div class="container-fluid ">
                <div class="bg-light text-center rounded p-4">
                    <div class="d-flex align-items-center justify-content-between mb-4">
                        
                    </div>
                    
                        
                            <script>
                              function standalizeDate(date){
                                day = date.getDate()+1
                                month = date.getMonth()
                                year = date.getFullYear()
                                if(day<10){
                                    day = "0"+day
                                }
                                if(month < 10){
                                    month = "0"+month
                                }
                                return year+"-"+month+"-"+day
                            }
                              $(document).ready(function(){
                                $('.hc-bd1-le').click(function(){
                                    $(this).prop("disabled", true)
                                    let bd1_le_trich_tu = $(this).parent().find("input.r-bd1-le-trich-tu")
                                    let cau_bd1_le_tom_gon = $(this).parent().find("input.r-cau-bd1-le-tom-gon")
                                    let bd1_le = $(this).siblings("textarea.r-bd1-le")

                                    n_dvtl = $(bd1_le.val()).first().text().split(":")[1]
                                    bd1_le_trich_tu.val(n_dvtl)

                                    n_dvtl = $(bd1_le.val()).first().next().text()
                                    cau_bd1_le_tom_gon.val(n_dvtl)

                                    n_dvtl = $("<div>"+bd1_le.val()+"</div>")
                                    n_dvtl.find('p').slice(0,2).remove()
                                    bd1_le.val(n_dvtl.html())                                    
                                })
                                $('.hc-bd2').click(function(){
                                    $(this).prop("disabled", true)
                                    let bd2_le_trich_tu = $(this).parent().find("input.r-bd2-trich-tu")
                                    let cau_bd2_le_tom_gon = $(this).parent().find("input.r-cau-bd2-tom-gon")
                                    let bd2_le = $(this).siblings("textarea.r-bd2")

                                    n_dvtl = $(bd2_le.val()).first().text().split(":")[1]
                                    bd2_le_trich_tu.val(n_dvtl)

                                    n_dvtl = $(bd2_le.val()).first().next().text()
                                    cau_bd2_le_tom_gon.val(n_dvtl)

                                    n_dvtl = $("<div>"+bd2_le.val()+"</div>")
                                    n_dvtl.find('p').slice(0,2).remove()
                                    bd2_le.val(n_dvtl.html())                                    
                                })
                                $('.hc-dap-ca').click(function(){
                                    $(this).prop("disabled", true)
                                    let bd2_le_trich_tu = $(this).parent().find("input.r-dap-ca-trich-tu")
                                    
                                    let bd2_le = $(this).siblings("textarea.r-dap-ca")

                                    n_dvtl = $(bd2_le.val()).first().text().split(":")[1]
                                    bd2_le_trich_tu.val(n_dvtl)


                                    n_dvtl = $("<div>"+bd2_le.val()+"</div>")
                                    n_dvtl.find('p').slice(0,1).remove()
                                    bd2_le.val(n_dvtl.html())                                    
                                })
                                $('.hc-alleluia').click(function(){
                                    $(this).prop("disabled", true)
                                    let bd2_le_trich_tu = $(this).parent().find("input.r-alleluia-trich-tu")
                                    
                                    let bd2_le = $(this).siblings("textarea.r-alleluia")

                                    n_dvtl = $(bd2_le.val()).first().text().split(":")[1]
                                    bd2_le_trich_tu.val(n_dvtl)


                                    n_dvtl = $("<div>"+bd2_le.val()+"</div>")
                                    n_dvtl.find('p').slice(0,1).remove()
                                    bd2_le.val(n_dvtl.html())                                    
                                })
                                $('.hc-phuc-am').click(function(){
                                    $(this).prop("disabled", true)
                                    let bd2_le_trich_tu = $(this).parent().find("input.r-phuc-am-trich-tu")
                                    let cau_bd2_le_tom_gon = $(this).parent().find("input.r-cau-phuc-am-tom-gon")
                                    let bd2_le = $(this).siblings("textarea.r-phuc-am")

                                    n_dvtl = $(bd2_le.val()).first().text().split(":")[1]
                                    bd2_le_trich_tu.val(n_dvtl)

                                    n_dvtl = $(bd2_le.val()).first().next().text()
                                    cau_bd2_le_tom_gon.val(n_dvtl)

                                    n_dvtl = $("<div>"+bd2_le.val()+"</div>")
                                    n_dvtl.find('p').slice(0,2).remove()
                                    bd2_le.val(n_dvtl.html())                                    
                                })
                                $(".btn-hieu-chinh").click(function(){
                                    $(this).prop("disabled", true)
                                    let dan_vao_thanh_le = $(this).parents(".form-ngay-le").find("textarea.r-dan-vao-thanh-le")
                                    let ca_nhap_le = $(this).parents(".form-ngay-le").find("textarea.r-ca-nhap-le")
                                    let loi_nguyen_nhap_le = $(this).parents(".form-ngay-le").find("textarea.r-loi-nguyen-nhap-le")

                                    let bd1_le_trich_tu = $(this).parents(".form-ngay-le").find("input.r-bd1-le-trich-tu")
                                    let cau_bd1_le_tom_gon = $(this).parents(".form-ngay-le").find("input.r-cau-bd1-le-tom-gon")
                                    let bd1_le = $(this).parents(".form-ngay-le").find("textarea.r-bd1-le")

                                    let bd1_chan_trich_tu = $(this).parents(".form-ngay-le").find("input.r-bd1-chan-trich-tu")
                                    let cau_bd1_chan_tom_gon = $(this).parents(".form-ngay-le").find("input.r-cau-bd1-chan-tom-gon")
                                    let bd1_chan = $(this).parents(".form-ngay-le").find("textarea.r-bd1-chan")

                                    let dap_ca_trich_tu = $(this).parents(".form-ngay-le").find("input.r-dap-ca-trich-tu")                                    
                                    let dap_ca = $(this).parents(".form-ngay-le").find("textarea.r-dap-ca")
                          

                                    let bd2_trich_tu = $(this).parents(".form-ngay-le").find("input.r-bd2-trich-tu")
                                    let cau_bd2_tom_gon = $(this).parents(".form-ngay-le").find("input.r-cau-bd2-tom-gon")
                                    let bd2 = $(this).parents(".form-ngay-le").find("textarea.r-bd2")

                                    let alleluia_trich_tu = $(this).parents(".form-ngay-le").find("input.r-alleluia-trich-tu")                                    
                                    let alleluia = $(this).parents(".form-ngay-le").find("textarea.r-alleluia")

                                    let phuc_am_trich_tu = $(this).parents(".form-ngay-le").find("input.r-phuc-am-trich-tu")
                                    let cau_phuc_am_tom_gon = $(this).parents(".form-ngay-le").find("input.r-cau-phuc-am-tom-gon")
                                    let phuc_am = $(this).parents(".form-ngay-le").find("textarea.r-phuc-am")

                                    let loi_nguyen_tin_huu = $(this).parents(".form-ngay-le").find("textarea.r-loi-nguyen-tin-huu")
                                    let loi_nguyen_tien_le = $(this).parents(".form-ngay-le").find("textarea.r-loi-nguyen-tien-le")
                                    let ca_hiep_le = $(this).parents(".form-ngay-le").find("textarea.r-ca-hiep-le")
                                    let loi_nguyen_hiep_le = $(this).parents(".form-ngay-le").find("textarea.r-loi-nguyen-hiep-le")

                                    let n_dvtl = $(dan_vao_thanh_le.val().replace(/<p[^>]*>[\s\S]*?<\/p>/, ''))
                                    dan_vao_thanh_le.val(n_dvtl.text())

                                    n_dvtl = $(ca_nhap_le.val().replace(/<p[^>]*>[\s\S]*?<\/p>/, ''))
                                    ca_nhap_le.val(n_dvtl.text())
                                    
                                    n_dvtl = $(loi_nguyen_nhap_le.val().replace(/<p[^>]*>[\s\S]*?<\/p>/, ''))
                                    loi_nguyen_nhap_le.val(n_dvtl.text())

                                    // n_dvtl = $(dap_ca.val().replace(/<p[^>]*>[\s\S]*?<\/p>/, ''))
                                    // dap_ca.val(n_dvtl.text())

                                    // n_dvtl = $(alleluia.val()).first().text().split(":")[1]
                                    // alleluia_trich_tu.val(n_dvtl)
                                    // n_dvtl = $(alleluia.val().replace(/<p[^>]*>[\s\S]*?<\/p>/, ''))
                                    // alleluia.val(n_dvtl.text())
                                    
                                    n_dvtl = $(loi_nguyen_tien_le.val().replace(/<p[^>]*>[\s\S]*?<\/p>/, ''))
                                    loi_nguyen_tien_le.val(n_dvtl.text())

                                    n_dvtl = $(ca_hiep_le.val().replace(/<p[^>]*>[\s\S]*?<\/p>/, ''))
                                    ca_hiep_le.val(n_dvtl.text())

                                    n_dvtl = $(loi_nguyen_hiep_le.val().replace(/<p[^>]*>[\s\S]*?<\/p>/, ''))
                                    loi_nguyen_hiep_le.val(n_dvtl.text())

                                    n_dvtl = loi_nguyen_tin_huu.val().replace(/<p[^>]*>[\s\S]*?<\/p>/, '')
                                    loi_nguyen_tin_huu.val(n_dvtl)

                                    let ban_van = {
                                        dan_vao_thanh_le: dan_vao_thanh_le.val(),
                                        ca_nhap_le: ca_nhap_le.val(),
                                        loi_nguyen_nhap_le: loi_nguyen_nhap_le.val(),

                                        bd1_le_trich_tu: bd1_le_trich_tu.val(),
                                        cau_bd1_le_tom_gon: cau_bd1_le_tom_gon.val(),
                                        bd1_le: bd1_le.val(),

                                        bd1_chan_trich_tu: bd1_chan_trich_tu.val(),
                                        cau_bd1_chan_tom_gon: cau_bd1_chan_tom_gon.val(),
                                        bd1_chan: bd1_chan.val(),

                                        dap_ca_trich_tu: dap_ca_trich_tu.val(),
                                        dap_ca: dap_ca.val(),
                                        bd2_trich_tu: bd2_trich_tu.val(),
                                        cau_bd2_tom_gon: cau_bd2_tom_gon.val(),
                                        bd2: bd2.val(),

                                        alleluia_trich_tu: alleluia_trich_tu.val(),
                                        alleluia: alleluia.val(),

                                        phuc_am_trich_tu: phuc_am_trich_tu.val(),
                                        cau_phuc_am_tom_gon: cau_phuc_am_tom_gon.val(),
                                        phuc_am: phuc_am.val(),

                                        loi_nguyen_tin_huu: loi_nguyen_tin_huu.val(),
                                        loi_nguyen_tien_le: loi_nguyen_tien_le.val(),
                                        ca_hiep_le: ca_hiep_le.val(),
                                        loi_nguyen_hiep_le: loi_nguyen_hiep_le.val()
                                    }

                                    console.log(ban_van)
                                })
                                
                                
                                $(".date").click(function(){
                                  
                                })
                                $(".unset").click(function(){
                                  $(this).siblings(".i-date").val("")
                                  $(this).parents("tr").nextAll().find(".checkbox").prop("checked", false)
                                })
                                $(".rscheckbox").click(function(){
                                    
                                })
                                function update(cur_index, arr_hc){
                                    $.get($(arr_hc[cur_index]).find("a.btn-hieu-chinh").attr("href"), function(data, status){
                                        $(arr_hc[cur_index]).find(".card-header").removeClass('bg-primary')
                                        if(status == "success"){                                            
                                            $(arr_hc[cur_index]).find(".card-header").addClass('bg-success')
                                        }else{
                                            $(arr_hc[cur_index]).find(".card-header").addClass('bg-danger')
                                        }
                                        if(cur_index < arr_hc.length - 1){
                                            cur_index++
                                            update(cur_index,arr_hc)
                                        }
                                    })
                                }
                                $("#update-all--").click(function(){
                                    let arr_hc = $(".form-ngay-le")
                                    console.log("arr_hc.length = "+arr_hc.length)
                                    update(0, arr_hc)
                                    
                                })
                                $(".btn-savea").click(function(){                            
                                    let dan_vao_thanh_le = $(this).parents(".form-ngay-le").find("textarea.r-dan-vao-thanh-le")
                                    let ca_nhap_le = $(this).parents(".form-ngay-le").find("textarea.r-ca-nhap-le")
                                    let loi_nguyen_nhap_le = $(this).parents(".form-ngay-le").find("textarea.r-loi-nguyen-nhap-le")

                                    let bd1_le_trich_tu = $(this).parents(".form-ngay-le").find("input.r-bd1-le-trich-tu")
                                    let cau_bd1_le_tom_gon = $(this).parents(".form-ngay-le").find("input.r-cau-bd1-le-tom-gon")
                                    let bd1_le = $(this).parents(".form-ngay-le").find("textarea.r-bd1-le")

                                    let bd1_chan_trich_tu = $(this).parents(".form-ngay-le").find("input.r-bd1-chan-trich-tu")
                                    let cau_bd1_chan_tom_gon = $(this).parents(".form-ngay-le").find("input.r-cau-bd1-chan-tom-gon")
                                    let bd1_chan = $(this).parents(".form-ngay-le").find("textarea.r-bd1-chan")

                                    let dap_ca_trich_tu = $(this).parents(".form-ngay-le").find("input.r-dap-ca-trich-tu")                                    
                                    let dap_ca = $(this).parents(".form-ngay-le").find("textarea.r-dap-ca")
                          

                                    let bd2_trich_tu = $(this).parents(".form-ngay-le").find("input.r-bd2-trich-tu")
                                    let cau_bd2_tom_gon = $(this).parents(".form-ngay-le").find("input.r-cau-bd2-tom-gon")
                                    let bd2 = $(this).parents(".form-ngay-le").find("textarea.r-bd2")

                                    let alleluia_trich_tu = $(this).parents(".form-ngay-le").find("input.r-alleluia-trich-tu")                                    
                                    let alleluia = $(this).parents(".form-ngay-le").find("textarea.r-alleluia")

                                    let phuc_am_trich_tu = $(this).parents(".form-ngay-le").find("input.r-phuc-am-trich-tu")
                                    let cau_phuc_am_tom_gon = $(this).parents(".form-ngay-le").find("input.r-cau-phuc-am-tom-gon")
                                    let phuc_am = $(this).parents(".form-ngay-le").find("textarea.r-phuc-am")

                                    let loi_nguyen_tin_huu = $(this).parents(".form-ngay-le").find("textarea.r-loi-nguyen-tin-huu")
                                    let loi_nguyen_tien_le = $(this).parents(".form-ngay-le").find("textarea.r-loi-nguyen-tien-le")
                                    let ca_hiep_le = $(this).parents(".form-ngay-le").find("textarea.r-ca-hiep-le")
                                    let loi_nguyen_hiep_le = $(this).parents(".form-ngay-le").find("textarea.r-loi-nguyen-hiep-le")

                                    let doc = {
                                    title : $(this).parents(".form-ngay-le").find('input.m-title').val(),
                                    date : $(this).parents(".form-ngay-le").find('input.r-date').val(),
                                    assigned_date : $(this).parents(".form-ngay-le").find('input.assigned-date').val(),
                                    week : $(this).parents(".form-ngay-le").find('input.week').val(),
                                    season : $(this).parents(".form-ngay-le").find('input.season').val(),
                                    bac_le : $(this).parents(".form-ngay-le").find('input.bac_le').val(),
                                    mau_ao_le : $(this).parents(".form-ngay-le").find('input.mau-ao-le').val(),
                                    _id : $(this).parents(".form-ngay-le").find('input._id').val(),

                                    ban_van : {
                                        dan_vao_thanh_le: dan_vao_thanh_le.val(),
                                        ca_nhap_le: ca_nhap_le.val(),
                                        loi_nguyen_nhap_le: loi_nguyen_nhap_le.val(),

                                        bd1_le_trich_tu: bd1_le_trich_tu.val(),
                                        cau_bd1_le_tom_gon: cau_bd1_le_tom_gon.val(),
                                        bd1_le: bd1_le.val(),

                                        bd1_chan_trich_tu: bd1_chan_trich_tu.val(),
                                        cau_bd1_chan_tom_gon: cau_bd1_chan_tom_gon.val(),
                                        bd1_chan: bd1_chan.val(),

                                        dap_ca_trich_tu: dap_ca_trich_tu.val(),
                                        dap_ca: dap_ca.val(),
                                        bd2_trich_tu: bd2_trich_tu.val(),
                                        cau_bd2_tom_gon: cau_bd2_tom_gon.val(),
                                        bd2: bd2.val(),

                                        alleluia_trich_tu: alleluia_trich_tu.val(),
                                        alleluia: alleluia.val(),

                                        phuc_am_trich_tu: phuc_am_trich_tu.val(),
                                        cau_phuc_am_tom_gon: cau_phuc_am_tom_gon.val(),
                                        phuc_am: phuc_am.val(),

                                        loi_nguyen_tin_huu: loi_nguyen_tin_huu.val(),
                                        loi_nguyen_tien_le: loi_nguyen_tien_le.val(),
                                        ca_hiep_le: ca_hiep_le.val(),
                                        loi_nguyen_hiep_le: loi_nguyen_hiep_le.val()
                                        }
                                    }
                                $.get("/update-bien-tap-ngay-le", doc,                                  
                                    function(data, status){
                                    console.log("Data: ")
                                    console.log(data.update_data)
                                    console.log("\nStatus: " + status)
                                    }
                                );
                                })
                                $(".check-all").click(function(){
                                    $(".checkbox").prop("checked", $(this).is(":checked"))
                                })
                                $(".save-all").click(function(){
                                    
                                    $(".btn-save").each(function(){
                                        // console.log($(this).parents("tr").find(".checkbox").is(":checked"))
                                        if($(this).parents("tr").find(".checkbox").is(":checked") == true){
                                        let title = $(this).parents("tr").find("td.title").text()
                                        let date = $(this).parents("tr").find("input.i-date").val()
                                        let id_le_theo_mua_phung_vu = $(this).siblings(".id_le_theo_mua_phung_vu").val()
                                        let mau_ao_le = ""
                                        if($(this).parents("tr").find(".mau_ao_le").length == 1){
                                            
                                            mau_ao_le = $(this).parents("tr").find(".mau_ao_le").val()
                                        }else{
                                            console.log("mau ao le != "+$(this).parents("tr").find("input:checked").val())
                                            mau_ao_le = $(this).parents("tr").find("input:checked").val()
                                        }
                                        //console.log("mau ao le != "+$(this).parents("tr").find(".mau_ao_le").length)
                                        let req = {
                                            title: title,
                                            date: date,
                                            id_le_theo_mua_phung_vu: id_le_theo_mua_phung_vu,
                                            mau_ao_le: mau_ao_le
                                        }
                                        console.log(JSON.stringify(req))
                                        // const xhttp = new XMLHttpRequest();
                                        // xhttp.onload = function() {
                                        //   // document.getElementById("demo").innerHTML = this.responseText;
                                        //   console.log(this.responseText)
                                        //   }                                
                                        // xhttp.open("GET", "/submit-data", true);
                                        // xhttp.send();
                                        $.get("/submitdata", req,                                  
                                            function(data, status){
                                            console.log("Data: " + data.data + "\nStatus: " + status);
                                            }
                                        );
                                        console.log("--------------------------")
                                        }
                                        
                                    })
                                })
                                
                              })
                            </script>
                            <!-- <button type="button" class="btn btn-danger save-all">Save All</button> -->
                              
<!-- <button class="btn btn-primary" id="update-all">Update all</button>                             -->
<% ngay_le.forEach(function(u){%>          
                     
<div class="container mt-5 mb-5 form-ngay-le">
        <input type="hidden" value="<%= u._id%>" class="_id">
        <div class="row justify-content-center">
            <div class="col-md-10">
                <div class="card shadow">
                    <div class="card-header bg-primary text-white">
                        <h4 class="mb-0"><%= u.title%></h4>
                    </div>
                    <div class="card-body">                        
                            <!-- Text Inputs Section -->
                            
                            <div class="row mb-3">                                
                                <div class="col-md-12 input-group">
                                    <span class="input-group-text"><strong>Tiêu đề Ngày Lễ:</strong></span>
                                    <input type="text" class="form-control m-title" value="<%= u.title %>">
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-md-12 input-group">
                                    <span class="input-group-text "><strong>Tuần:</strong></span>
                                    <input type="text" class="form-control week" value="<%= u.week %>">
                                    <span class="input-group-text "><strong>Mùa:</strong></span>
                                    <input type="text" class="form-control season" value="<%= u.season %>">
                                </div>                                
                            </div>
                            <div class="row mb-3">
                                <div class="col-md-12 input-group">
                                    <span class="input-group-text"><strong>Bậc lễ:</strong></span>
                                    <input type="text" class="form-control bac-le" value="<%= u.bac_le %>">
                                    <span class="input-group-text"><strong>Màu áo lễ:</strong></span>
                                    <input type="text" class="form-control mau-ao-le" value="<%= u.mau_ao_le %>">
                                </div>                                
                            </div>
                            <div class="row mb-3">                                
                                <div class="col-md-12 input-group">
                                    <span class="input-group-text"><strong><a target="_blank" href="<%= u.url %>">URL:</a></strong></span>
                                    <input type="text" class="form-control" value="<%= u.url %>" disabled>
                                </div>
                            </div>

                            <!-- <div class="row mb-3">
                                <div class="col-md-6">
                                    <label for="text5" class="form-label">Field 5</label>
                                    <input type="text" class="form-control" id="text5" placeholder="Enter text">
                                </div>
                                <div class="col-md-6">
                                    <label for="text6" class="form-label">Field 6</label>
                                    <input type="text" class="form-control" id="text6" placeholder="Enter text">
                                </div>
                            </div>                             -->

                            <!-- Date Inputs Section -->
                            <h5 class="mb-3"><strong>Ngày Mừng Lễ</strong></h5>
                            <div class="row mb-4">
                                <div class="col-md-6 input-group">
                                    <span class="input-group-text"><strong>Regular Date</strong></span>
                                    <input type="text" class="form-control r-date" value="<%= u.date %>">
                                    <span class="input-group-text"><strong>In 2025-26</strong></span>
                                    <% if(u.hasOwnProperty('assigned_date')){%>
                                    <!-- Tạm thời fix cứng cho 2 năm 2025-2026 -->
                                    <% if(u.assigned_date.hasOwnProperty('2025')){%>
                                        <input type="date" class="form-control assigned-date" value="<%= u.assigned_date['2025']%>">
                                    <%}else{%>
                                        <input type="date" class="form-control assigned-date" value="<%= u.assigned_date['2026']%>">
                                    <%}
                                    }else{%>
                                        <input type="date" class="form-control assigned-date">
                                    <%}%>
                                    <button class="form-control set-default-date"><i class="bi bi-calendar-check"></i></button>
                                </div>                                
                            </div>
                            <!-- <div class="row mb-3">
                                <div class="col-md-12 input-group">
                                    <span class="input-group-text "><strong>BĐ1 - Lẻ:</strong></span>
                                    <input type="text" class="form-control" value="<%= u.ban_van.bd1_le_trich_tu %>" disabled>
                                    <span class="input-group-text "><strong>BĐ1 - Chẵn:</strong></span>
                                    <input type="text" class="form-control" value="<%= u.ban_van.bd1_chan_trich_tu %>" disabled>
                                </div>                                
                            </div> -->
                            <!-- <form class="adj-bd1-form" action="/bien-tap-ban-van" method="GET">
                            <div class="row mb-3">
                                <input type="hidden" value="<%= u._id%>" class="_id" name="_id">
                                <div class="col-md-12 input-group">
                                    <span class="input-group-text "><strong>BĐ1 - Lẻ:</strong></span>
                                    <input type="text" class="form-control bd1_le_trich_tu" name="bd1_le_trich_tu" value="<%= u.ban_van.bd1_le_trich_tu %>">
                                    <span class="input-group-text "><strong>BĐ1 - Chẵn:</strong></span>
                                    <input type="text" class="form-control bd1_chan_trich_tu" name="bd1_chan_trich_tu" value="<%= u.ban_van.bd1_chan_trich_tu %>">
                                </div>
                                <button class="btn-adj-bd1 btn-danger">Update</button>                               
                            </div>
                            </form> -->
                            <div class="alert alert-success alert-dismissible fade show" role="alert" style="display: none;">
                              Cập nhật thành công!
                              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                            <div class="alert alert-danger alert-dismissible fade show" role="alert" style="display: none;">
                              Cập nhật thất bại!
                              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                            <!-- Submit Buttons -->

                            <div class="d-flex justify-content-end">
                                <a type="button" target="_blank" href="/bien-tap-suy-niem?_id=<%=u._id%>" class="btn btn-secondary me-2 btn-hieu-chinh">Suy niệm</a>
                                <a type="button" target="_blank" href="/bien-tap-ban-van?_id=<%=u._id%>" class="btn btn-secondary me-2 btn-hieu-chinh">Chỉnh Sửa Bản Văn</a>
                                <button type="button" class="btn btn-secondary me-2">Cancel</button>
                                <button type="submit" class="btn btn-primary btn-save">Save</button>
                            </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>

<% }) %>
<script>

$(document).ready(function(){
    // Search functionality for h4 elements
    $('#search-input').on('input', function(){
        const searchQuery = $(this).val().toLowerCase().trim();
        
        if(searchQuery === ''){
            // Clear highlights if search is empty
            $('h4').removeClass('bg-warning');
            return;
        }
        
        let firstMatch = null;
        
        // Find and highlight matching h4 elements
        $('h4').each(function(){
            const h4Text = $(this).text().toLowerCase();
            if(h4Text.includes(searchQuery)){
                $(this).addClass('bg-warning');
                if(!firstMatch){
                    firstMatch = this;
                }
            } else {
                $(this).removeClass('bg-warning');
            }
        });
        
        // Scroll to the first match
        if(firstMatch){
            $('html, body').animate({
                scrollTop: $(firstMatch).offset().top - 100
            }, 300);
        }
    });
    
        let searchMatches = [];
        let currentMatchIndex = -1;
    
        function updateSearchResults(){
            const searchQuery = $('#search-input').val().toLowerCase().trim();
            searchMatches = [];
            currentMatchIndex = -1;
        
            $('h4').each(function(){
                if($(this).text().toLowerCase().includes(searchQuery)){
                    searchMatches.push($(this));
                }
            });
        
            updateSearchDisplay();
        }
    
        function updateSearchDisplay(){
            // Clear all highlights
            $('h4').removeClass('bg-warning bg-danger');
        
            if(searchMatches.length === 0){
                $('#search-count').text('0/0');
                return;
            }
        
            // Highlight all matches
            searchMatches.forEach(function(el){
                $(el).addClass('bg-warning');
            });
        
            // Highlight current match in darker color
            if(currentMatchIndex >= 0 && currentMatchIndex < searchMatches.length){
                $(searchMatches[currentMatchIndex]).removeClass('bg-warning').addClass('bg-danger');
            
                // Scroll to current match
                $('html, body').animate({
                    scrollTop: $(searchMatches[currentMatchIndex]).offset().top - 100
                }, 300);
            }
        
            $('#search-count').text((currentMatchIndex + 1) + '/' + searchMatches.length);
        }
    
        $('#search-input').on('input', function(){
            const searchQuery = $(this).val().toLowerCase().trim();
        
            if(searchQuery === ''){
                $('h4').removeClass('bg-warning bg-danger');
                searchMatches = [];
                currentMatchIndex = -1;
                $('#search-count').text('0/0');
                return;
            }
        
            updateSearchResults();
            currentMatchIndex = 0;
            updateSearchDisplay();
        });
    
        $('#search-next').on('click', function(){
            if(searchMatches.length === 0) return;
            currentMatchIndex = (currentMatchIndex + 1) % searchMatches.length;
            updateSearchDisplay();
        });
    
        $('#search-prev').on('click', function(){
            if(searchMatches.length === 0) return;
            currentMatchIndex = (currentMatchIndex - 1 + searchMatches.length) % searchMatches.length;
            updateSearchDisplay();
        });
    
    // $('.bd1_le_trich_tu').each(function(){
    //     let ro = $(this).val()
    //     let x = ro.replace(/năm/gi,'Năm').trim()
    //     //console.log(x)
    //     $(this).val(x)
    // })
    // $('.bd1_chan_trich_tu').each(function(){
    //     let ro = $(this).val()
    //     let x = ro.replace(/năm/gi,'Năm').trim()
    //     //console.log(x)
    //     $(this).val(x)
    // })
    
    // $('#update-all').click(function(){
    //     $('.adj-bd1-form').submit()
    // })
    $('form.adj-bd1-form').submit(function(event){
        event.preventDefault();

        // Serialize the form data into a URL-encoded string
        let formData = $(this).serialize();   
        formData = formData+"&is_ajax=true"   
        console.log(formData)      
        let f_submit = $(this)         
        f_submit.find('.alrt-success').hide()                                                  
        f_submit.find('.alrt-failed').hide()                                                  
        
        // Perform the AJAX request
        $.ajax({                                        
            url: '/bien-tap-ban-van',
            data: formData,
            success: function(response) {
                // Handle a successful response from the server
                console.log("Success:", response);
                f_submit.find('.alrt-success').fadeIn(700)
                f_submit.find('.alrt-failed').hide()
                // Example: display a success message to the user
                // $('#responseMessage').html('<p>Form submitted successfully!</p>');
            },
            error: function(error) {
                // Handle errors
                console.error("Error:", error);
                f_submit.find('.alrt-success').hide()
                f_submit.find('.alrt-failed').fadeIn(700)
                // Example: display an error message
                // $('#responseMessage').html('<p>An error occurred. Please try again.</p>');
            }
        });
    })
    
    $(".set-default-date").click(function(){
        let date = $(this).siblings("input.r-date").val().split("/")
        let now = new Date()
        console.log(now.getFullYear()+"-"+date[1]+"-"+date[0])
        $(this).siblings("input.assigned-date").val((now.getFullYear()+1)+"-"+date[1]+"-"+date[0])
    })
    $(".btn-save").click(function(){
        let _id = $(this).parents(".form-ngay-le").find("input._id").val();
        let title = $(this).parents(".form-ngay-le").find("input.m-title").val();
        let r_date = $(this).parents(".form-ngay-le").find("input.r-date").val();
        let week = $(this).parents(".form-ngay-le").find("input.week").val();
        let season = $(this).parents(".form-ngay-le").find("input.season").val();
        let bac_le = $(this).parents(".form-ngay-le").find("input.bac-le").val();
        let assigned_date = $(this).parents(".form-ngay-le").find("input.assigned-date").val();
        let mau_ao_le = $(this).parents(".form-ngay-le").find("input.mau-ao-le").val();

        let dan_vao_thanh_le = $(this).parents(".form-ngay-le").find("textarea.r-dan-vao-thanh-le")
        let ca_nhap_le = $(this).parents(".form-ngay-le").find("textarea.r-ca-nhap-le")
        let loi_nguyen_nhap_le = $(this).parents(".form-ngay-le").find("textarea.r-loi-nguyen-nhap-le")

        let bd1_le_trich_tu = $(this).parents(".form-ngay-le").find("input.r-bd1-le-trich-tu")
        let cau_bd1_le_tom_gon = $(this).parents(".form-ngay-le").find("input.r-cau-bd1-le-tom-gon")
        let bd1_le = $(this).parents(".form-ngay-le").find("textarea.r-bd1-le")

        let bd1_chan_trich_tu = $(this).parents(".form-ngay-le").find("input.r-bd1-chan-trich-tu")
        let cau_bd1_chan_tom_gon = $(this).parents(".form-ngay-le").find("input.r-cau-bd1-chan-tom-gon")
        let bd1_chan = $(this).parents(".form-ngay-le").find("textarea.r-bd1-chan")

        let dap_ca_trich_tu = $(this).parents(".form-ngay-le").find("input.r-dap-ca-trich-tu")                                    
        let dap_ca = $(this).parents(".form-ngay-le").find("textarea.r-dap-ca")


        let bd2_trich_tu = $(this).parents(".form-ngay-le").find("input.r-bd2-trich-tu")
        let cau_bd2_tom_gon = $(this).parents(".form-ngay-le").find("input.r-cau-bd2-tom-gon")
        let bd2 = $(this).parents(".form-ngay-le").find("textarea.r-bd2")

        let alleluia_trich_tu = $(this).parents(".form-ngay-le").find("input.r-alleluia-trich-tu")                                    
        let alleluia = $(this).parents(".form-ngay-le").find("textarea.r-alleluia")

        let phuc_am_trich_tu = $(this).parents(".form-ngay-le").find("input.r-phuc-am-trich-tu")
        let cau_phuc_am_tom_gon = $(this).parents(".form-ngay-le").find("input.r-cau-phuc-am-tom-gon")
        let phuc_am = $(this).parents(".form-ngay-le").find("textarea.r-phuc-am")

        let loi_nguyen_tin_huu = $(this).parents(".form-ngay-le").find("textarea.r-loi-nguyen-tin-huu")
        let loi_nguyen_tien_le = $(this).parents(".form-ngay-le").find("textarea.r-loi-nguyen-tien-le")
        let ca_hiep_le = $(this).parents(".form-ngay-le").find("textarea.r-ca-hiep-le")
        let loi_nguyen_hiep_le = $(this).parents(".form-ngay-le").find("textarea.r-loi-nguyen-hiep-le")

        let doc = {
        title : $(this).parents(".form-ngay-le").find('input.m-title').val(),
        date : $(this).parents(".form-ngay-le").find('input.r-date').val(),
        assigned_date : $(this).parents(".form-ngay-le").find('input.assigned-date').val(),
        week : $(this).parents(".form-ngay-le").find('input.week').val(),
        season : $(this).parents(".form-ngay-le").find('input.season').val(),
        bac_le : $(this).parents(".form-ngay-le").find('input.bac_le').val(),
        mau_ao_le : $(this).parents(".form-ngay-le").find('input.mau-ao-le').val(),
        _id : $(this).parents(".form-ngay-le").find('input._id').val(),

        ban_van : {
            dan_vao_thanh_le: dan_vao_thanh_le.val(),
            ca_nhap_le: ca_nhap_le.val(),
            loi_nguyen_nhap_le: loi_nguyen_nhap_le.val(),

            bd1_le_trich_tu: bd1_le_trich_tu.val(),
            cau_bd1_le_tom_gon: cau_bd1_le_tom_gon.val(),
            bd1_le: bd1_le.val(),

            bd1_chan_trich_tu: bd1_chan_trich_tu.val(),
            cau_bd1_chan_tom_gon: cau_bd1_chan_tom_gon.val(),
            bd1_chan: bd1_chan.val(),

            dap_ca_trich_tu: dap_ca_trich_tu.val(),
            dap_ca: dap_ca.val(),
            bd2_trich_tu: bd2_trich_tu.val(),
            cau_bd2_tom_gon: cau_bd2_tom_gon.val(),
            bd2: bd2.val(),

            alleluia_trich_tu: alleluia_trich_tu.val(),
            alleluia: alleluia.val(),

            phuc_am_trich_tu: phuc_am_trich_tu.val(),
            cau_phuc_am_tom_gon: cau_phuc_am_tom_gon.val(),
            phuc_am: phuc_am.val(),

            loi_nguyen_tin_huu: loi_nguyen_tin_huu.val(),
            loi_nguyen_tien_le: loi_nguyen_tien_le.val(),
            ca_hiep_le: ca_hiep_le.val(),
            loi_nguyen_hiep_le: loi_nguyen_hiep_le.val()
        }
        }
        
        console.log("Data sent:")
        console.log(doc)
        
        
        alr_suc = $(this).parents(".form-ngay-le").find(".alert-success")
        alr_dan = $(this).parents(".form-ngay-le").find(".alert-danger")
        $.get("/update-ngay-le", ban_van, function(da, sta){
            if(sta == "success"){
                alr_suc.show()
                alr_dan.hide()
            }else{
                alr_suc.hide()
                alr_dan.show()
            }
        })
    })
    
})
</script>                                              
           

        
    </div>
