    <style>
        .alrt-success{
            margin-right: 1em;
            font-weight: bold;
            font-size: larger;
        }
        .alrt-failed{
            margin-right: 1em;
            font-weight: bold;
            font-size: larger;
        }
    </style>
     
    <div class="container-xxl position-relative bg-white d-flex p-0">
        <!-- Spinner Start -->
        
        <!-- Sidebar End -->


        <!-- Content Start -->
        <div class="content">
            <!-- Navbar Start -->
            
            <!-- Navbar End -->


            <!-- Sale & Revenue Start -->
            <!-- <div class="container-fluid pt-4 px-4">
                <div class="row g-4">
                    <div class="col-sm-6 col-xl-3">
                        <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                            <i class="fa fa-chart-line fa-3x text-primary"></i>
                            <div class="ms-3">
                                <p class="mb-2">Today Sale</p>
                                <h6 class="mb-0">$1234</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xl-3">
                        <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                            <i class="fa fa-chart-bar fa-3x text-primary"></i>
                            <div class="ms-3">
                                <p class="mb-2">Total Sale</p>
                                <h6 class="mb-0">$1234</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xl-3">
                        <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                            <i class="fa fa-chart-area fa-3x text-primary"></i>
                            <div class="ms-3">
                                <p class="mb-2">Today Revenue</p>
                                <h6 class="mb-0">$1234</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xl-3">
                        <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                            <i class="fa fa-chart-pie fa-3x text-primary"></i>
                            <div class="ms-3">
                                <p class="mb-2">Total Revenue</p>
                                <h6 class="mb-0">$1234</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->
            <!-- Sale & Revenue End -->


            <!-- Sales Chart Start -->
            <!-- <div class="container-fluid pt-4 px-4">
                <div class="row g-4">
                    <div class="col-sm-12 col-xl-6">
                        <div class="bg-light text-center rounded p-4">
                            <div class="d-flex align-items-center justify-content-between mb-4">
                                <h6 class="mb-0">Worldwide Sales</h6>
                                <a href="">Show All</a>
                            </div>
                            <canvas id="worldwide-sales"></canvas>
                        </div>
                    </div>
                    <div class="col-sm-12 col-xl-6">
                        <div class="bg-light text-center rounded p-4">
                            <div class="d-flex align-items-center justify-content-between mb-4">
                                <h6 class="mb-0">Salse & Revenue</h6>
                                <a href="">Show All</a>
                            </div>
                            <canvas id="salse-revenue"></canvas>
                        </div>
                    </div>
                </div>
            </div> -->
            <!-- Sales Chart End -->


            <!-- Recent Sales Start -->
             
             
            <div class="container-fluid pt-4 px-4">
                <div class="bg-light text-center rounded p-4">
                    <div class="d-flex align-items-center justify-content-between mb-4">
                        
                    </div>
                    
                        
                            <script>
                              function standalizeDate(date){
                                day = date.getDate()+1
                                month = date.getMonth()
                                year = date.getFullYear()
                                if(day<10){
                                    day = "0"+day
                                }
                                if(month < 10){
                                    month = "0"+month
                                }
                                return year+"-"+month+"-"+day
                            }
                              $(document).ready(function(){

                                $(".date").click(function(){
                                  
                                })
                                $(".unset").click(function(){
                                  $(this).siblings(".i-date").val("")
                                  $(this).parents("tr").nextAll().find(".checkbox").prop("checked", false)
                                })
                                $(".rscheckbox").click(function(){
                                    
                                })

                                $(".btn-savea").click(function(){                            
                                    let dan_vao_thanh_le = $(this).parents(".form-ngay-le").find("textarea.r-dan-vao-thanh-le")
                                    let ca_nhap_le = $(this).parents(".form-ngay-le").find("textarea.r-ca-nhap-le")
                                    let loi_nguyen_nhap_le = $(this).parents(".form-ngay-le").find("textarea.r-loi-nguyen-nhap-le")

                                    let bd1_le_trich_tu = $(this).parents(".form-ngay-le").find("input.r-bd1-le-trich-tu")
                                    let cau_bd1_le_tom_gon = $(this).parents(".form-ngay-le").find("input.r-cau-bd1-le-tom-gon")
                                    let bd1_le = $(this).parents(".form-ngay-le").find("textarea.r-bd1-le")

                                    let bd1_chan_trich_tu = $(this).parents(".form-ngay-le").find("input.r-bd1-chan-trich-tu")
                                    let cau_bd1_chan_tom_gon = $(this).parents(".form-ngay-le").find("input.r-cau-bd1-chan-tom-gon")
                                    let bd1_chan = $(this).parents(".form-ngay-le").find("textarea.r-bd1-chan")

                                    let dap_ca_trich_tu = $(this).parents(".form-ngay-le").find("input.r-dap-ca-trich-tu")                                    
                                    let dap_ca = $(this).parents(".form-ngay-le").find("textarea.r-dap-ca")
                          

                                    let bd2_trich_tu = $(this).parents(".form-ngay-le").find("input.r-bd2-trich-tu")
                                    let cau_bd2_tom_gon = $(this).parents(".form-ngay-le").find("input.r-cau-bd2-tom-gon")
                                    let bd2 = $(this).parents(".form-ngay-le").find("textarea.r-bd2")

                                    let alleluia_trich_tu = $(this).parents(".form-ngay-le").find("input.r-alleluia-trich-tu")                                    
                                    let alleluia = $(this).parents(".form-ngay-le").find("textarea.r-alleluia")

                                    let phuc_am_trich_tu = $(this).parents(".form-ngay-le").find("input.r-phuc-am-trich-tu")
                                    let cau_phuc_am_tom_gon = $(this).parents(".form-ngay-le").find("input.r-cau-phuc-am-tom-gon")
                                    let phuc_am = $(this).parents(".form-ngay-le").find("textarea.r-phuc-am")

                                    let loi_nguyen_tin_huu = $(this).parents(".form-ngay-le").find("textarea.r-loi-nguyen-tin-huu")
                                    let loi_nguyen_tien_le = $(this).parents(".form-ngay-le").find("textarea.r-loi-nguyen-tien-le")
                                    let ca_hiep_le = $(this).parents(".form-ngay-le").find("textarea.r-ca-hiep-le")
                                    let loi_nguyen_hiep_le = $(this).parents(".form-ngay-le").find("textarea.r-loi-nguyen-hiep-le")

                                    let doc = {
                                    title : $(this).parents(".form-ngay-le").find('input.m-title').val(),
                                    date : $(this).parents(".form-ngay-le").find('input.r-date').val(),
                                    assigned_date : $(this).parents(".form-ngay-le").find('input.assigned-date').val(),
                                    week : $(this).parents(".form-ngay-le").find('input.week').val(),
                                    season : $(this).parents(".form-ngay-le").find('input.season').val(),
                                    bac_le : $(this).parents(".form-ngay-le").find('input.bac_le').val(),
                                    mau_ao_le : $(this).parents(".form-ngay-le").find('input.mau-ao-le').val(),
                                    _id : $(this).parents(".form-ngay-le").find('input._id').val(),

                                    ban_van : {
                                        dan_vao_thanh_le: dan_vao_thanh_le.val(),
                                        ca_nhap_le: ca_nhap_le.val(),
                                        loi_nguyen_nhap_le: loi_nguyen_nhap_le.val(),

                                        bd1_le_trich_tu: bd1_le_trich_tu.val(),
                                        cau_bd1_le_tom_gon: cau_bd1_le_tom_gon.val(),
                                        bd1_le: bd1_le.val(),

                                        bd1_chan_trich_tu: bd1_chan_trich_tu.val(),
                                        cau_bd1_chan_tom_gon: cau_bd1_chan_tom_gon.val(),
                                        bd1_chan: bd1_chan.val(),

                                        dap_ca_trich_tu: dap_ca_trich_tu.val(),
                                        dap_ca: dap_ca.val(),
                                        bd2_trich_tu: bd2_trich_tu.val(),
                                        cau_bd2_tom_gon: cau_bd2_tom_gon.val(),
                                        bd2: bd2.val(),

                                        alleluia_trich_tu: alleluia_trich_tu.val(),
                                        alleluia: alleluia.val(),

                                        phuc_am_trich_tu: phuc_am_trich_tu.val(),
                                        cau_phuc_am_tom_gon: cau_phuc_am_tom_gon.val(),
                                        phuc_am: phuc_am.val(),

                                        loi_nguyen_tin_huu: loi_nguyen_tin_huu.val(),
                                        loi_nguyen_tien_le: loi_nguyen_tien_le.val(),
                                        ca_hiep_le: ca_hiep_le.val(),
                                        loi_nguyen_hiep_le: loi_nguyen_hiep_le.val()
                                        }
                                    }
                                $.get("/update-bien-tap-ngay-le", doc,                                  
                                    function(data, status){
                                    console.log("Data: ")
                                    console.log(data.update_data)
                                    console.log("\nStatus: " + status)
                                    }
                                );
                                })
                                $(".check-all").click(function(){
                                    $(".checkbox").prop("checked", $(this).is(":checked"))
                                })
                                $(".save-all").click(function(){
                                    
                                    $(".btn-save").each(function(){
                                        // console.log($(this).parents("tr").find(".checkbox").is(":checked"))
                                        if($(this).parents("tr").find(".checkbox").is(":checked") == true){
                                        let title = $(this).parents("tr").find("td.title").text()
                                        let date = $(this).parents("tr").find("input.i-date").val()
                                        let id_le_theo_mua_phung_vu = $(this).siblings(".id_le_theo_mua_phung_vu").val()
                                        let mau_ao_le = ""
                                        if($(this).parents("tr").find(".mau_ao_le").length == 1){
                                            
                                            mau_ao_le = $(this).parents("tr").find(".mau_ao_le").val()
                                        }else{
                                            console.log("mau ao le != "+$(this).parents("tr").find("input:checked").val())
                                            mau_ao_le = $(this).parents("tr").find("input:checked").val()
                                        }
                                        //console.log("mau ao le != "+$(this).parents("tr").find(".mau_ao_le").length)
                                        let req = {
                                            title: title,
                                            date: date,
                                            id_le_theo_mua_phung_vu: id_le_theo_mua_phung_vu,
                                            mau_ao_le: mau_ao_le
                                        }
                                        console.log(JSON.stringify(req))
                                        // const xhttp = new XMLHttpRequest();
                                        // xhttp.onload = function() {
                                        //   // document.getElementById("demo").innerHTML = this.responseText;
                                        //   console.log(this.responseText)
                                        //   }                                
                                        // xhttp.open("GET", "/submit-data", true);
                                        // xhttp.send();
                                        $.get("/submitdata", req,                                  
                                            function(data, status){
                                            console.log("Data: " + data.data + "\nStatus: " + status);
                                            }
                                        );
                                        console.log("--------------------------")
                                        }
                                        
                                    })
                                })
                                $('form').submit(function(event) {
                                    // Prevent the default form submission that causes a page reload
                                    event.preventDefault();

                                    let formData = {};
                                    $(this).serializeArray().forEach(function(item) {
                                        formData[item.name] = item.value;
                                    });
                                    formData.is_ajax = true;
                                    console.log(formData)
                                    let f_submit = $(this)         
                                    f_submit.find('.alrt-success').hide()                                                  
                                    f_submit.find('.alrt-failed').hide()                                                  
                                    
                                    // Perform the AJAX request
                                    $.ajax({                                        
                                        url: '/bien-tap-ban-van',
                                        method: 'POST',
                                        contentType: 'application/json; charset=UTF-8',
                                        data: JSON.stringify(formData),
                                        success: function(response) {
                                            // Handle a successful response from the server
                                            console.log("Success:", response);
                                            f_submit.find('.alrt-success').fadeIn(700)
                                            f_submit.find('.alrt-failed').hide()
                                            // Example: display a success message to the user
                                            // $('#responseMessage').html('<p>Form submitted successfully!</p>');
                                        },
                                        error: function(error) {
                                            // Handle errors
                                            console.error("Error:", error);
                                            f_submit.find('.alrt-success').hide()
                                            f_submit.find('.alrt-failed').fadeIn(700)
                                            // Example: display an error message
                                            // $('#responseMessage').html('<p>An error occurred. Please try again.</p>');
                                        }
                                    });
                                });
                                
                              })
                            </script>
                            <!-- <button type="button" class="btn btn-danger save-all">Save All</button> -->
                              
                            
<% if(u != null){%>                           
<div class="container mt-5 mb-5 form-ngay-le">
        <input type="hidden" value="<%= u._id%>" class="_id">
        <div class="row justify-content-center">
            <div class="col-md-10">
                <div class="card shadow">
                    <div class="card-header bg-primary text-white">
                        <h4 class="mb-0"><%= u.title%></h4>
                    </div>
                    <div class="card-body">                        
                                                   
                            <h5 class="mb-3"><strong>Bản Văn</strong></h5>
                            <form>
                            <input type="hidden" value="<%= u._id%>" class="_id" name="_id">
                            <div class="row mb-4 block-ban-van">
                                <div class="col-md-12">
                                    <span class=""><strong>Dẫn vào Thánh Lễ</strong></span>
                                    <textarea type="text" name="dan_vao_thanh_le" rows="6" class="form-control r-dan-vao-thanh-le"><%= u.ban_van.dan_vao_thanh_le %></textarea>                                    
                                </div>      
                                <div class="col-md-6">
                                    <span class=""><strong>Ca Nhập Lễ</strong></span>
                                    <textarea type="text" name="ca_nhap_le" rows="4" class="form-control r-ca-nhap-le"><%= u.ban_van.ca_nhap_le %></textarea>                                    
                                </div>       
                                <div class="col-md-6">
                                    <span class=""><strong>Lời Nguyện Nhập Lễ</strong></span>
                                    <textarea type="text" name="loi_nguyen_nhap_le" rows="4" class="form-control r-loi-nguyen-nhap-le"><%= u.ban_van.loi_nguyen_nhap_le %></textarea>                                    
                                </div>     
                                
                                <div style="background-color: rgba(235, 255, 242, 0.623); text-align: right; padding: 0.5em; margin-top: 0.5em;">
                                    <i class="bi bi-check-circle alrt-success text-success" style="display: none;">Cập nhật thành công</i>
                                    <i class="bi bi-x-circle alrt-failed text-danger" style="display: none;"> Cập nhật thất bại</i>
                                    <button type="submit" class="btn btn-success me-2 btn-update">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-floppy" viewBox="0 0 16 16">
                                        <path d="M11 2H9v3h2z"/>
                                        <path d="M1.5 0h11.586a1.5 1.5 0 0 1 1.06.44l1.415 1.414A1.5 1.5 0 0 1 16 2.914V14.5a1.5 1.5 0 0 1-1.5 1.5h-13A1.5 1.5 0 0 1 0 14.5v-13A1.5 1.5 0 0 1 1.5 0M1 1.5v13a.5.5 0 0 0 .5.5H2v-4.5A1.5 1.5 0 0 1 3.5 9h9a1.5 1.5 0 0 1 1.5 1.5V15h.5a.5.5 0 0 0 .5-.5V2.914a.5.5 0 0 0-.146-.353l-1.415-1.415A.5.5 0 0 0 13.086 1H13v4.5A1.5 1.5 0 0 1 11.5 7h-7A1.5 1.5 0 0 1 3 5.5V1H1.5a.5.5 0 0 0-.5.5m3 4a.5.5 0 0 0 .5.5h7a.5.5 0 0 0 .5-.5V1H4zM3 15h10v-4.5a.5.5 0 0 0-.5-.5h-9a.5.5 0 0 0-.5.5z"/>
                                        </svg>
                                        Update
                                    </button>                                    
                                </div>
                            </div>
                            </form>
                            <hr/>
                            <form>
                            <div class="row mb-4 block-ban-van">
                                
                                    <input type="hidden" value="<%= u._id%>" class="_id" name="_id">
                                <div class="col-md-6">
                                    
                                    <span class=""><strong>Bài Ðọc I Năm Lẻ (Mặc định)</strong></span>
                                    <!-- <button class="btn btn-secondary hc-bd1-le"><i class="bi bi-arrow-clockwise"></i></button>     -->
                                    <div class="col-md-12 input-group">
                                        <span class="input-group-text"><strong>Trích từ</strong></span>
                                        <input name="bd1_le_trich_tu" type="text" class="form-control r-bd1-le-trich-tu" value="<%= u.ban_van.bd1_le_trich_tu%>" >
                                    </div>
                                    <div class="col-md-12 input-group">
                                        <span class="input-group-text"><strong>Câu tóm gọn</strong></span>
                                        <input type="text" class="form-control r-cau-bd1-le-tom-gon" name="cau_bd1_le_tom_gon" value="<%= u.ban_van.cau_bd1_le_tom_gon%>" >
                                    </div>
                                    <textarea type="text" rows="10" name="bd1_le" class="form-control r-bd1-le"><%= u.ban_van.bd1_le %></textarea>    
                                                                
                                </div>  
                                <div class="col-md-6">
                                    <span class=""><strong>Ðáp Ca:</strong></span>
                                    <!-- <button class="btn btn-secondary hc-dap-ca"><i class="bi bi-arrow-clockwise"></i></button> -->
                                    <div class="col-md-12 input-group">
                                        <span class="input-group-text"><strong>Trích từ</strong></span>
                                        <input type="text" class="form-control r-dap-ca-le-trich-tu" name="dap_ca_le_trich_tu" value="<%= u.ban_van.dap_ca_le_trich_tu%>" >
                                    </div>
                                    <textarea type="text" rows="10" name="dap_ca_le" class="form-control r-dap-ca-le"><%= u.ban_van.dap_ca_le %></textarea>                                    
                                </div>  
                                <div style="background-color: rgba(235, 255, 242, 0.623); text-align: right; padding: 0.5em; margin-top: 0.5em;">
                                    <i class="bi bi-check-circle alrt-success text-success" style="display: none;">Cập nhật thành công</i>
                                    <i class="bi bi-x-circle alrt-failed text-danger" style="display: none;"> Cập nhật thất bại</i>
                                    <button type="submit" class="btn btn-success me-2 btn-update">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-floppy" viewBox="0 0 16 16">
                                        <path d="M11 2H9v3h2z"/>
                                        <path d="M1.5 0h11.586a1.5 1.5 0 0 1 1.06.44l1.415 1.414A1.5 1.5 0 0 1 16 2.914V14.5a1.5 1.5 0 0 1-1.5 1.5h-13A1.5 1.5 0 0 1 0 14.5v-13A1.5 1.5 0 0 1 1.5 0M1 1.5v13a.5.5 0 0 0 .5.5H2v-4.5A1.5 1.5 0 0 1 3.5 9h9a1.5 1.5 0 0 1 1.5 1.5V15h.5a.5.5 0 0 0 .5-.5V2.914a.5.5 0 0 0-.146-.353l-1.415-1.415A.5.5 0 0 0 13.086 1H13v4.5A1.5 1.5 0 0 1 11.5 7h-7A1.5 1.5 0 0 1 3 5.5V1H1.5a.5.5 0 0 0-.5.5m3 4a.5.5 0 0 0 .5.5h7a.5.5 0 0 0 .5-.5V1H4zM3 15h10v-4.5a.5.5 0 0 0-.5-.5h-9a.5.5 0 0 0-.5.5z"/>
                                        </svg>
                                        Update
                                    </button>                                    
                                </div>
                                
                            </div>
                            </form>
                                <hr/>
                            <form>
                            <div class="row mb-4 block-ban-van">
                                
                                <input type="hidden" value="<%= u._id%>" class="_id" name="_id">
                                <div class="col-md-6">
                                    <span class=""><strong>Bài Ðọc I Năm Chẵn:</strong></span>
                                    <!-- <button class="btn btn-secondary hc-bd1-chan"><i class="bi bi-arrow-clockwise"></i></button>   -->
                                    <div class="col-md-12 input-group">
                                        <span class="input-group-text"><strong>Trích từ</strong></span>
                                        <input type="text" class="form-control r-bd1-chan-trich-tu" name="bd1_chan_trich_tu" value="<%= u.ban_van.bd1_chan_trich_tu%>" >
                                    </div>
                                    <div class="col-md-12 input-group">
                                        <span class="input-group-text"><strong>Câu tóm gọn</strong></span>
                                        <input type="text" class="form-control r-cau-bd1-chan-tom-gon" name="cau_bd1_chan_tom_gon" value="<%= u.ban_van.cau_bd1_chan_tom_gon%>" >
                                    </div>
                                    <textarea type="text" rows="10" class="form-control r-bd1-chan" name="bd1_chan"><%= u.ban_van.bd1_chan %></textarea>                                    
                                </div>  
                                <div class="col-md-6">
                                    <span class=""><strong>Ðáp Ca:</strong></span>
                                    <!-- <button class="btn btn-secondary hc-dap-ca"><i class="bi bi-arrow-clockwise"></i></button> -->
                                    <div class="col-md-12 input-group">
                                        <span class="input-group-text"><strong>Trích từ</strong></span>
                                        <input type="text" class="form-control r-dap-ca-chan-trich-tu" name="dap_ca_chan_trich_tu" value="<%= u.ban_van.dap_ca_chan_trich_tu%>" >
                                    </div>
                                    <textarea type="text" rows="10"class="form-control r-dap-ca-chan" name="dap_ca_chan"><%= u.ban_van.dap_ca_chan %></textarea>                                    
                                </div>  
                                <div style="background-color: rgba(235, 255, 242, 0.623); text-align: right; padding: 0.5em; margin-top: 0.5em;">
                                    <i class="bi bi-check-circle alrt-success text-success" style="display: none;">Cập nhật thành công</i>
                                    <i class="bi bi-x-circle alrt-failed text-danger" style="display: none;"> Cập nhật thất bại</i>
                                    <button type="submit" class="btn btn-success me-2 btn-update">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-floppy" viewBox="0 0 16 16">
                                        <path d="M11 2H9v3h2z"/>
                                        <path d="M1.5 0h11.586a1.5 1.5 0 0 1 1.06.44l1.415 1.414A1.5 1.5 0 0 1 16 2.914V14.5a1.5 1.5 0 0 1-1.5 1.5h-13A1.5 1.5 0 0 1 0 14.5v-13A1.5 1.5 0 0 1 1.5 0M1 1.5v13a.5.5 0 0 0 .5.5H2v-4.5A1.5 1.5 0 0 1 3.5 9h9a1.5 1.5 0 0 1 1.5 1.5V15h.5a.5.5 0 0 0 .5-.5V2.914a.5.5 0 0 0-.146-.353l-1.415-1.415A.5.5 0 0 0 13.086 1H13v4.5A1.5 1.5 0 0 1 11.5 7h-7A1.5 1.5 0 0 1 3 5.5V1H1.5a.5.5 0 0 0-.5.5m3 4a.5.5 0 0 0 .5.5h7a.5.5 0 0 0 .5-.5V1H4zM3 15h10v-4.5a.5.5 0 0 0-.5-.5h-9a.5.5 0 0 0-.5.5z"/>
                                        </svg>
                                        Update
                                    </button>                                    
                                </div>
                                
                            </div>
                            </form>
                                <hr/>
                            <form>
                            <div class="row mb-4 block-ban-van">
                                
                                <input type="hidden" value="<%= u._id%>" class="_id" name="_id">  
                                <div class="col-md-12">
                                    <span class=""><strong>Bài Ðọc II:</strong></span>
                                    <!-- <button class="btn btn-secondary hc-bd2"><i class="bi bi-arrow-clockwise"></i></button>   -->
                                    <div class="col-md-12 input-group">
                                        <span class="input-group-text"><strong>Trích từ</strong></span>
                                        <input type="text" class="form-control r-bd2-trich-tu" name="bd2_trich_tu" value="<%= u.ban_van.bd2_trich_tu%>" >
                                    </div>
                                    <div class="col-md-12 input-group">
                                        <span class="input-group-text"><strong>Câu tóm gọn</strong></span>
                                        <input type="text" class="form-control r-cau-bd2-tom-gon" name="cau_bd2_tom_gon" value="<%= u.ban_van.cau_bd2_tom_gon%>" >
                                    </div>
                                    <textarea type="text" rows="10" class="form-control r-bd2" name="bd2"><%= u.ban_van.bd2 %></textarea>                                    
                                </div>    
                                <div class="col-md-12">
                                    <span class=""><strong>Alleluia:</strong></span>
                                    <!-- <button class="btn btn-secondary hc-alleluia"><i class="bi bi-arrow-clockwise"></i></button>   -->
                                    <div class="col-md-12 input-group">
                                        <span class="input-group-text"><strong>Trích từ</strong></span>
                                        <input type="text" class="form-control r-alleluia-trich-tu" name="alleluia_trich_tu" value="<%= u.ban_van.alleluia_trich_tu%>" >
                                    </div>
                                    <textarea type="text" rows="4" class="form-control r-alleluia" name="alleluia"><%= u.ban_van.alleluia %></textarea>                                    
                                </div>  
                                <div style="background-color: rgba(235, 255, 242, 0.623); text-align: right; padding: 0.5em; margin-top: 0.5em;">
                                    <i class="bi bi-check-circle alrt-success text-success" style="display: none;">Cập nhật thành công</i>
                                    <i class="bi bi-x-circle alrt-failed text-danger" style="display: none;"> Cập nhật thất bại</i>
                                    <button type="submit" class="btn btn-success me-2 btn-update">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-floppy" viewBox="0 0 16 16">
                                        <path d="M11 2H9v3h2z"/>
                                        <path d="M1.5 0h11.586a1.5 1.5 0 0 1 1.06.44l1.415 1.414A1.5 1.5 0 0 1 16 2.914V14.5a1.5 1.5 0 0 1-1.5 1.5h-13A1.5 1.5 0 0 1 0 14.5v-13A1.5 1.5 0 0 1 1.5 0M1 1.5v13a.5.5 0 0 0 .5.5H2v-4.5A1.5 1.5 0 0 1 3.5 9h9a1.5 1.5 0 0 1 1.5 1.5V15h.5a.5.5 0 0 0 .5-.5V2.914a.5.5 0 0 0-.146-.353l-1.415-1.415A.5.5 0 0 0 13.086 1H13v4.5A1.5 1.5 0 0 1 11.5 7h-7A1.5 1.5 0 0 1 3 5.5V1H1.5a.5.5 0 0 0-.5.5m3 4a.5.5 0 0 0 .5.5h7a.5.5 0 0 0 .5-.5V1H4zM3 15h10v-4.5a.5.5 0 0 0-.5-.5h-9a.5.5 0 0 0-.5.5z"/>
                                        </svg>
                                        Update
                                    </button>                                    
                                </div>
                                
                            </div> 
                            </form> 
                                <hr/> 
                            <form>
                            <div class="row mb-4 block-ban-van">
                                
                                <input type="hidden" value="<%= u._id%>" class="_id" name="_id">
                                <div class="col-md-12">
                                    <span class=""><strong>Phúc Âm:</strong></span>
                                    <!-- <button class="btn btn-secondary hc-phuc-am"><i class="bi bi-arrow-clockwise"></i></button>   -->
                                    <div class="col-md-12 input-group">
                                        <span class="input-group-text"><strong>Trích từ</strong></span>
                                        <input type="text" class="form-control r-phuc-am-trich-tu" name="phuc_am_trich_tu" value="<%= u.ban_van.phuc_am_trich_tu%>" >
                                    </div>
                                    <div class="col-md-12 input-group">
                                        <span class="input-group-text"><strong>Câu tóm gọn</strong></span>
                                        <input type="text" class="form-control r-cau-phuc-am-tom-gon" name="cau_phuc_am_tom_gon" value="<%= u.ban_van.cau_phuc_am_tom_gon%>" >
                                    </div>
                                    <textarea type="text" rows="10" class="form-control r-phuc-am" name="phuc_am"><%= u.ban_van.phuc_am %></textarea>                                    
                                </div>
                                <div style="background-color: rgba(235, 255, 242, 0.623); text-align: right; padding: 0.5em; margin-top: 0.5em;">
                                    <i class="bi bi-check-circle alrt-success text-success" style="display: none;">Cập nhật thành công</i>
                                    <i class="bi bi-x-circle alrt-failed text-danger" style="display: none;"> Cập nhật thất bại</i>
                                    <button type="submit" class="btn btn-success me-2 btn-update">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-floppy" viewBox="0 0 16 16">
                                        <path d="M11 2H9v3h2z"/>
                                        <path d="M1.5 0h11.586a1.5 1.5 0 0 1 1.06.44l1.415 1.414A1.5 1.5 0 0 1 16 2.914V14.5a1.5 1.5 0 0 1-1.5 1.5h-13A1.5 1.5 0 0 1 0 14.5v-13A1.5 1.5 0 0 1 1.5 0M1 1.5v13a.5.5 0 0 0 .5.5H2v-4.5A1.5 1.5 0 0 1 3.5 9h9a1.5 1.5 0 0 1 1.5 1.5V15h.5a.5.5 0 0 0 .5-.5V2.914a.5.5 0 0 0-.146-.353l-1.415-1.415A.5.5 0 0 0 13.086 1H13v4.5A1.5 1.5 0 0 1 11.5 7h-7A1.5 1.5 0 0 1 3 5.5V1H1.5a.5.5 0 0 0-.5.5m3 4a.5.5 0 0 0 .5.5h7a.5.5 0 0 0 .5-.5V1H4zM3 15h10v-4.5a.5.5 0 0 0-.5-.5h-9a.5.5 0 0 0-.5.5z"/>
                                        </svg>
                                        Update
                                    </button>                                    
                                </div>
                                
                            </div> 
                            </form>  
                                <hr/>
                            <form>
                            <div class="row mb-4 block-ban-van">
                                
                                <input type="hidden" value="<%= u._id%>" class="_id" name="_id">
                                <div class="col-md-12">
                                    <span class=""><strong>Lời nguyện tín hữu</strong></span>
                                    <textarea type="text" rows="10" class="form-control r-loi-nguyen-tin-huu" name="loi_nguyen_tin_huu"><%= u.ban_van.loi_nguyen_tin_huu %></textarea>                                    
                                </div>
                                <div style="background-color: rgba(235, 255, 242, 0.623); text-align: right; padding: 0.5em; margin-top: 0.5em;">
                                    <i class="bi bi-check-circle alrt-success text-success" style="display: none;">Cập nhật thành công</i>
                                    <i class="bi bi-x-circle alrt-failed text-danger" style="display: none;"> Cập nhật thất bại</i>
                                    <button type="submit" class="btn btn-success me-2 btn-update">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-floppy" viewBox="0 0 16 16">
                                        <path d="M11 2H9v3h2z"/>
                                        <path d="M1.5 0h11.586a1.5 1.5 0 0 1 1.06.44l1.415 1.414A1.5 1.5 0 0 1 16 2.914V14.5a1.5 1.5 0 0 1-1.5 1.5h-13A1.5 1.5 0 0 1 0 14.5v-13A1.5 1.5 0 0 1 1.5 0M1 1.5v13a.5.5 0 0 0 .5.5H2v-4.5A1.5 1.5 0 0 1 3.5 9h9a1.5 1.5 0 0 1 1.5 1.5V15h.5a.5.5 0 0 0 .5-.5V2.914a.5.5 0 0 0-.146-.353l-1.415-1.415A.5.5 0 0 0 13.086 1H13v4.5A1.5 1.5 0 0 1 11.5 7h-7A1.5 1.5 0 0 1 3 5.5V1H1.5a.5.5 0 0 0-.5.5m3 4a.5.5 0 0 0 .5.5h7a.5.5 0 0 0 .5-.5V1H4zM3 15h10v-4.5a.5.5 0 0 0-.5-.5h-9a.5.5 0 0 0-.5.5z"/>
                                        </svg>
                                        Update
                                    </button>                                    
                                </div>
                                
                            </div>
                            </form> 
                                <hr/>  
                            <form>
                            <div class="row mb-4 block-ban-van">
                                
                                <input type="hidden" value="<%= u._id%>" class="_id" name="_id">
                                <div class="col-md-6">
                                    <span class=""><strong>Lời nguyện tiến lễ</strong></span>
                                    <textarea type="text" rows="6"class="form-control r-loi-nguyen-tien-le" name="loi_nguyen_tien_le"><%= u.ban_van.loi_nguyen_tien_le %></textarea>                                    
                                </div>     
                                <div class="col-md-6">
                                    <span class=""><strong>Kinh Tiền Tụng</strong></span>
                                    <textarea type="text" rows="6"class="form-control r-kinh-tien-tung" name="kinh_tien_tung"><%= u.ban_van.kinh_tien_tung %></textarea>                                    
                                </div>    
                                <div class="col-md-6">
                                    <span class=""><strong>Ca hiệp lễ</strong></span>
                                    <textarea type="text" rows="6" class="form-control r-ca-hiep-le" name="ca_hiep_le"><%= u.ban_van.ca_hiep_le %></textarea>                                    
                                </div>     
                                <div class="col-md-6">
                                    <span class=""><strong>Lời nguyện hiệp lễ</strong></span>
                                    <textarea type="text" rows="6" class="form-control r-loi-nguyen-hiep-le" name="loi_nguyen_hiep_le"><%= u.ban_van.loi_nguyen_hiep_le %></textarea>                                    
                                </div>
                                <div style="background-color: rgba(235, 255, 242, 0.623); text-align: right; padding: 0.5em; margin-top: 0.5em;">
                                    <i class="bi bi-check-circle alrt-success text-success" style="display: none;">Cập nhật thành công</i>
                                    <i class="bi bi-x-circle alrt-failed text-danger" style="display: none;"> Cập nhật thất bại</i>
                                    <button type="submit" class="btn btn-success me-2 btn-update">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-floppy" viewBox="0 0 16 16">
                                        <path d="M11 2H9v3h2z"/>
                                        <path d="M1.5 0h11.586a1.5 1.5 0 0 1 1.06.44l1.415 1.414A1.5 1.5 0 0 1 16 2.914V14.5a1.5 1.5 0 0 1-1.5 1.5h-13A1.5 1.5 0 0 1 0 14.5v-13A1.5 1.5 0 0 1 1.5 0M1 1.5v13a.5.5 0 0 0 .5.5H2v-4.5A1.5 1.5 0 0 1 3.5 9h9a1.5 1.5 0 0 1 1.5 1.5V15h.5a.5.5 0 0 0 .5-.5V2.914a.5.5 0 0 0-.146-.353l-1.415-1.415A.5.5 0 0 0 13.086 1H13v4.5A1.5 1.5 0 0 1 11.5 7h-7A1.5 1.5 0 0 1 3 5.5V1H1.5a.5.5 0 0 0-.5.5m3 4a.5.5 0 0 0 .5.5h7a.5.5 0 0 0 .5-.5V1H4zM3 15h10v-4.5a.5.5 0 0 0-.5-.5h-9a.5.5 0 0 0-.5.5z"/>
                                        </svg>
                                        Update
                                    </button>                                    
                                </div>
                                               
                            </div>
                            </form>  
                            
                            
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
<%}%>
<script>

$(document).ready(function(){
    $(".set-default-date").click(function(){
        let date = $(this).siblings("input.r-date").val().split("/")
        let now = new Date()
        console.log(now.getFullYear()+"-"+date[1]+"-"+date[0])
        $(this).siblings("input.assigned-date").val((now.getFullYear()+1)+"-"+date[1]+"-"+date[0])
    })
    $(".btn-save").click(function(){
        let _id = $(this).parents(".form-ngay-le").find("input._id").val();
        let title = $(this).parents(".form-ngay-le").find("input.m-title").val();
        let r_date = $(this).parents(".form-ngay-le").find("input.r-date").val();
        let week = $(this).parents(".form-ngay-le").find("input.week").val();
        let season = $(this).parents(".form-ngay-le").find("input.season").val();
        let bac_le = $(this).parents(".form-ngay-le").find("input.bac-le").val();
        let assigned_date = $(this).parents(".form-ngay-le").find("input.assigned-date").val();
        let mau_ao_le = $(this).parents(".form-ngay-le").find("input.mau-ao-le").val();

        let dan_vao_thanh_le = $(this).parents(".form-ngay-le").find("textarea.r-dan-vao-thanh-le")
        let ca_nhap_le = $(this).parents(".form-ngay-le").find("textarea.r-ca-nhap-le")
        let loi_nguyen_nhap_le = $(this).parents(".form-ngay-le").find("textarea.r-loi-nguyen-nhap-le")

        let bd1_le_trich_tu = $(this).parents(".form-ngay-le").find("input.r-bd1-le-trich-tu")
        let cau_bd1_le_tom_gon = $(this).parents(".form-ngay-le").find("input.r-cau-bd1-le-tom-gon")
        let bd1_le = $(this).parents(".form-ngay-le").find("textarea.r-bd1-le")

        let bd1_chan_trich_tu = $(this).parents(".form-ngay-le").find("input.r-bd1-chan-trich-tu")
        let cau_bd1_chan_tom_gon = $(this).parents(".form-ngay-le").find("input.r-cau-bd1-chan-tom-gon")
        let bd1_chan = $(this).parents(".form-ngay-le").find("textarea.r-bd1-chan")

        let dap_ca_trich_tu = $(this).parents(".form-ngay-le").find("input.r-dap-ca-trich-tu")                                    
        let dap_ca = $(this).parents(".form-ngay-le").find("textarea.r-dap-ca")


        let bd2_trich_tu = $(this).parents(".form-ngay-le").find("input.r-bd2-trich-tu")
        let cau_bd2_tom_gon = $(this).parents(".form-ngay-le").find("input.r-cau-bd2-tom-gon")
        let bd2 = $(this).parents(".form-ngay-le").find("textarea.r-bd2")

        let alleluia_trich_tu = $(this).parents(".form-ngay-le").find("input.r-alleluia-trich-tu")                                    
        let alleluia = $(this).parents(".form-ngay-le").find("textarea.r-alleluia")

        let phuc_am_trich_tu = $(this).parents(".form-ngay-le").find("input.r-phuc-am-trich-tu")
        let cau_phuc_am_tom_gon = $(this).parents(".form-ngay-le").find("input.r-cau-phuc-am-tom-gon")
        let phuc_am = $(this).parents(".form-ngay-le").find("textarea.r-phuc-am")

        let loi_nguyen_tin_huu = $(this).parents(".form-ngay-le").find("textarea.r-loi-nguyen-tin-huu")
        let loi_nguyen_tien_le = $(this).parents(".form-ngay-le").find("textarea.r-loi-nguyen-tien-le")
        let ca_hiep_le = $(this).parents(".form-ngay-le").find("textarea.r-ca-hiep-le")
        let loi_nguyen_hiep_le = $(this).parents(".form-ngay-le").find("textarea.r-loi-nguyen-hiep-le")

        let doc = {
        title : $(this).parents(".form-ngay-le").find('input.m-title').val(),
        date : $(this).parents(".form-ngay-le").find('input.r-date').val(),
        assigned_date : $(this).parents(".form-ngay-le").find('input.assigned-date').val(),
        week : $(this).parents(".form-ngay-le").find('input.week').val(),
        season : $(this).parents(".form-ngay-le").find('input.season').val(),
        bac_le : $(this).parents(".form-ngay-le").find('input.bac_le').val(),
        mau_ao_le : $(this).parents(".form-ngay-le").find('input.mau-ao-le').val(),
        _id : $(this).parents(".form-ngay-le").find('input._id').val(),

        ban_van : {
            dan_vao_thanh_le: dan_vao_thanh_le.val(),
            ca_nhap_le: ca_nhap_le.val(),
            loi_nguyen_nhap_le: loi_nguyen_nhap_le.val(),

            bd1_le_trich_tu: bd1_le_trich_tu.val(),
            cau_bd1_le_tom_gon: cau_bd1_le_tom_gon.val(),
            bd1_le: bd1_le.val(),

            bd1_chan_trich_tu: bd1_chan_trich_tu.val(),
            cau_bd1_chan_tom_gon: cau_bd1_chan_tom_gon.val(),
            bd1_chan: bd1_chan.val(),

            dap_ca_trich_tu: dap_ca_trich_tu.val(),
            dap_ca: dap_ca.val(),
            bd2_trich_tu: bd2_trich_tu.val(),
            cau_bd2_tom_gon: cau_bd2_tom_gon.val(),
            bd2: bd2.val(),

            alleluia_trich_tu: alleluia_trich_tu.val(),
            alleluia: alleluia.val(),

            phuc_am_trich_tu: phuc_am_trich_tu.val(),
            cau_phuc_am_tom_gon: cau_phuc_am_tom_gon.val(),
            phuc_am: phuc_am.val(),

            loi_nguyen_tin_huu: loi_nguyen_tin_huu.val(),
            loi_nguyen_tien_le: loi_nguyen_tien_le.val(),
            ca_hiep_le: ca_hiep_le.val(),
            loi_nguyen_hiep_le: loi_nguyen_hiep_le.val()
        }
        }
        
        console.log("Data sent:")
        console.log(doc)
        
        
        alr_suc = $(this).parents(".form-ngay-le").find(".alert-success")
        alr_dan = $(this).parents(".form-ngay-le").find(".alert-danger")
        $.get("/update-ngay-le", ban_van, function(da, sta){
            if(sta == "success"){
                alr_suc.show()
                alr_dan.hide()
            }else{
                alr_suc.hide()
                alr_dan.show()
            }
        })
    })
    
})
</script>                                              
            <!-- Recent Sales End -->


            <!-- Widgets Start -->
            <!-- <div class="container-fluid pt-4 px-4">
                <div class="row g-4">
                    <div class="col-sm-12 col-md-6 col-xl-4">
                        <div class="h-100 bg-light rounded p-4">
                            <div class="d-flex align-items-center justify-content-between mb-2">
                                <h6 class="mb-0">Messages</h6>
                                <a href="">Show All</a>
                            </div>
                            <div class="d-flex align-items-center border-bottom py-3">
                                <img class="rounded-circle flex-shrink-0" src="img/user.jpg" alt="" style="width: 40px; height: 40px;">
                                <div class="w-100 ms-3">
                                    <div class="d-flex w-100 justify-content-between">
                                        <h6 class="mb-0">Jhon Doe</h6>
                                        <small>15 minutes ago</small>
                                    </div>
                                    <span>Short message goes here...</span>
                                </div>
                            </div>
                            <div class="d-flex align-items-center border-bottom py-3">
                                <img class="rounded-circle flex-shrink-0" src="img/user.jpg" alt="" style="width: 40px; height: 40px;">
                                <div class="w-100 ms-3">
                                    <div class="d-flex w-100 justify-content-between">
                                        <h6 class="mb-0">Jhon Doe</h6>
                                        <small>15 minutes ago</small>
                                    </div>
                                    <span>Short message goes here...</span>
                                </div>
                            </div>
                            <div class="d-flex align-items-center border-bottom py-3">
                                <img class="rounded-circle flex-shrink-0" src="img/user.jpg" alt="" style="width: 40px; height: 40px;">
                                <div class="w-100 ms-3">
                                    <div class="d-flex w-100 justify-content-between">
                                        <h6 class="mb-0">Jhon Doe</h6>
                                        <small>15 minutes ago</small>
                                    </div>
                                    <span>Short message goes here...</span>
                                </div>
                            </div>
                            <div class="d-flex align-items-center pt-3">
                                <img class="rounded-circle flex-shrink-0" src="img/user.jpg" alt="" style="width: 40px; height: 40px;">
                                <div class="w-100 ms-3">
                                    <div class="d-flex w-100 justify-content-between">
                                        <h6 class="mb-0">Jhon Doe</h6>
                                        <small>15 minutes ago</small>
                                    </div>
                                    <span>Short message goes here...</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 col-xl-4">
                        <div class="h-100 bg-light rounded p-4">
                            <div class="d-flex align-items-center justify-content-between mb-4">
                                <h6 class="mb-0">Calender</h6>
                                <a href="">Show All</a>
                            </div>
                            <div id="calender"></div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 col-xl-4">
                        <div class="h-100 bg-light rounded p-4">
                            <div class="d-flex align-items-center justify-content-between mb-4">
                                <h6 class="mb-0">To Do List</h6>
                                <a href="">Show All</a>
                            </div>
                            <div class="d-flex mb-2">
                                <input class="form-control bg-transparent" type="text" placeholder="Enter task">
                                <button type="button" class="btn btn-primary ms-2">Add</button>
                            </div>
                            <div class="d-flex align-items-center border-bottom py-2">
                                <input class="form-check-input m-0" type="checkbox">
                                <div class="w-100 ms-3">
                                    <div class="d-flex w-100 align-items-center justify-content-between">
                                        <span>Short task goes here...</span>
                                        <button class="btn btn-sm"><i class="fa fa-times"></i></button>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex align-items-center border-bottom py-2">
                                <input class="form-check-input m-0" type="checkbox">
                                <div class="w-100 ms-3">
                                    <div class="d-flex w-100 align-items-center justify-content-between">
                                        <span>Short task goes here...</span>
                                        <button class="btn btn-sm"><i class="fa fa-times"></i></button>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex align-items-center border-bottom py-2">
                                <input class="form-check-input m-0" type="checkbox" checked>
                                <div class="w-100 ms-3">
                                    <div class="d-flex w-100 align-items-center justify-content-between">
                                        <span><del>Short task goes here...</del></span>
                                        <button class="btn btn-sm text-primary"><i class="fa fa-times"></i></button>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex align-items-center border-bottom py-2">
                                <input class="form-check-input m-0" type="checkbox">
                                <div class="w-100 ms-3">
                                    <div class="d-flex w-100 align-items-center justify-content-between">
                                        <span>Short task goes here...</span>
                                        <button class="btn btn-sm"><i class="fa fa-times"></i></button>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex align-items-center pt-2">
                                <input class="form-check-input m-0" type="checkbox">
                                <div class="w-100 ms-3">
                                    <div class="d-flex w-100 align-items-center justify-content-between">
                                        <span>Short task goes here...</span>
                                        <button class="btn btn-sm"><i class="fa fa-times"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->
            <!-- Widgets End -->


            <!-- Footer Start -->
            
            <!-- Footer End -->
        </div>
        <!-- Content End -->

        
    </div>
