
        <!-- Sidebar Start -->
        <div class="sidebar pe-4 pb-3">
            <nav class="navbar bg-light navbar-light">
                <a href="index.html" class="navbar-brand mx-4 mb-3">
                    <h3 class="text-primary"><i class="fa fa-hashtag me-2"></i>DAMIN TGPHN</h3>
                </a>
                <div class="d-flex align-items-center ms-4 mb-4">
                    <div class="position-relative">
                        <img class="rounded-circle" src="img/user.jpg" alt="" style="width: 40px; height: 40px;">
                        <div class="bg-success rounded-circle border border-2 border-white position-absolute end-0 bottom-0 p-1"></div>
                    </div>
                    <div class="ms-3">
                        <h6 class="mb-0">Tan Nguyen</h6>
                        <span>Admin</span>
                    </div>
                </div>
                <div class="navbar-nav w-100">
                    <a href="/temp-man" class="nav-item nav-link "><i class="fa fa-tachometer-alt me-2"></i>Dashboard</a>
                    <a href="/bien-tap-lich" class="nav-item nav-link active"><i class="fa fa-tachometer-alt me-2"></i>Biên tập </a>
                    <!-- <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i class="fa fa-laptop me-2"></i>Elements</a>
                        <div class="dropdown-menu bg-transparent border-0">
                            <a href="button.html" class="dropdown-item">Buttons</a>
                            <a href="typography.html" class="dropdown-item">Typography</a>
                            <a href="element.html" class="dropdown-item">Other Elements</a>
                        </div>
                    </div> -->

                     <% c_date = new Date(lich[0].date).getMonth(); index = 0; d_o_w = 0; %>
                    <h1 style="display: block;">Tháng <%= c_date+1%></h1>
                    <% lich.forEach(function(u){%>
                
                        <% if(new Date(u.date).getMonth() != c_date){ c_date = new Date(u.date).getMonth()%>
                            <%if(c_date == 10 || c_date == 11 || c_date < 3){%>
                                <h1 style="display: block;">Tháng <%= c_date+1%></h1>
                            <%}else{%>
                                <h1>Tháng <%= c_date+1%></h1>
                            <%}%>
                        <%}%>
                        <% if(new Date(u.date).getDay() == 0){ d_o_w = 0%>
                            <hr/>
                        <%}else{d_o_w++}%>
                        
                        <%if(c_date == 10 || c_date == 11 || c_date < 3){%>
                        <a style="display: block;" class="mass-date btn btn-light nav-item nav-link" id="<%= u._id%>" >
                            <%= new Date(u.date).toDateString()%>
                            <span class="badge rounded-pill bg-danger"><%= d_o_w %></span>
                            
                            <input type="hidden" class="index" value="<%= index %>"/>
                            <% index++ %>
                        </a>
                            <%}else{%>
                                <a class="mass-date btn btn-light nav-item nav-link" id="<%= u._id%>" >
                            <%= new Date(u.date).toDateString()%>
                            <span class="badge rounded-pill bg-danger"><%= d_o_w %></span>
                            
                            <input type="hidden" class="index" value="<%= index %>"/>
                            <% index++ %>
                        </a>
                            <%}%>
                        
            <!-- <div class="container mt-5">
                <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    Open Modal
                </button>
            </div> -->
                
        
                    <%})%>

                    <a href="widget.html" class="nav-item nav-link"><i class="fa fa-th me-2"></i>Widgets</a>
                    <a href="form.html" class="nav-item nav-link"><i class="fa fa-keyboard me-2"></i>Forms</a>
                    <a href="table.html" class="nav-item nav-link"><i class="fa fa-table me-2"></i>Tables</a>
                    <a href="chart.html" class="nav-item nav-link"><i class="fa fa-chart-bar me-2"></i>Charts</a>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i class="far fa-file-alt me-2"></i>Pages</a>
                        <div class="dropdown-menu bg-transparent border-0">
                            <a href="signin.html" class="dropdown-item">Sign In</a>
                            <a href="signup.html" class="dropdown-item">Sign Up</a>
                            <a href="404.html" class="dropdown-item">404 Error</a>
                            <a href="blank.html" class="dropdown-item">Blank Page</a>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
        <!-- Sidebar End -->


        <!-- Content Start -->
             
    <div class="container pt-4 px-4">

        <div class="row">
            <!-- Left Column -->
            <div class="col">
                <div class="form-section">
                    <div class="form-title" style="font-size: x-large; text-align: center;"><strong id="date"></strong></div>
                    <form>
                        <input type="hidden" class="form-control" id="_id">
                        <div class="mb-3">
                            <label for="title" class="form-label"><strong>Tiêu đề</strong></label>                            
                            <input type="text" class="form-control" id="title" placeholder="Enter title">
                        </div>
                        <div class="mb-3">
                            <label for="under-title" class="form-label"><strong>Lưu ý sau tiêu đề</strong></label>
                            <textarea class="form-control" id="under-title"></textarea>
                        </div>
                        <div class="input-group mb-3">
                            <button class="input-group-text">URL</button>
                            <input type="text" class="form-control" id="url">                            
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-text">Mùa Phụng Vụ</div>
                            <input type="text" class="form-control" id="season">           
                            <div class="input-group-text">Bậc lễ</div>
                            <input type="text" class="form-control" id="bac-le">                     
                        </div>
                        <div class="btn-group mb-3" role="group" aria-label="Basic radio toggle button group">
                            <div class="input-group-text">Màu áo lễ</div>
                            <input type="radio" class="btn-check mau-ao-le" name="mau-ao-le" id="ao-tim" autocomplete="off" value="Tím">
                            <label class="btn btn-outline-primary" for="ao-tim">Tím</label>

                            <input type="radio" class="btn-check mau-ao-le" name="mau-ao-le" id="ao-hong" autocomplete="off" value="Hồng">
                            <label class="btn btn-outline-primary" for="ao-hong">Hồng</label>

                            <input type="radio" class="btn-check mau-ao-le" name="mau-ao-le" id="ao-trang" autocomplete="off" value="Trắng">
                            <label class="btn btn-outline-primary" for="ao-trang">Trắng</label>

                            <input type="radio" class="btn-check mau-ao-le" name="mau-ao-le" id="ao-do" autocomplete="off" value="Đỏ">
                            <label class="btn btn-outline-primary" for="ao-do">Đỏ</label>

                            <input type="radio" class="btn-check mau-ao-le" name="mau-ao-le" id="ao-xanh" autocomplete="off" value="Xanh">
                            <label class="btn btn-outline-primary" for="ao-xanh">Xanh</label>
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-text">BĐ1</div>
                            <input id="bd-1" type="text" class="form-control" placeholder="" aria-label="Input group example" aria-describedby="">
                            <div class="input-group-text">BĐ2</div>
                            <input id="bd-2" type="text" class="form-control" placeholder="" aria-label="Input group example" aria-describedby="">
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-text">Đáp ca</div>
                            <input id="dap-ca" type="text" class="form-control" placeholder="" aria-label="Input group example" aria-describedby="">
                            <div class="input-group-text">Alleluia</div>
                            <input id="alleluia" type="text" class="form-control" placeholder="" aria-label="Input group example" aria-describedby="">
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-text"><strong>Tin mừng</strong></div>
                            <input id="tin-mung" type="text" class="form-control" placeholder="" aria-label="Input group example" aria-describedby="">                            
                        </div>
                        <div class="mb-3">
                            <label for="cau-loi-chua" class="form-label"><strong>Câu Lời Chúa</strong></label>
                            <!-- <input type="text" class="form-control" id="cau-loi-chua" placeholder="Enter Câu Lời Chúa"> -->
                            <textarea id="cau-loi-chua" rows="3" class="form-control"></textarea>
                        </div>
                        <div class="mb-3">
                            <label for="xu-chau-luot" class="form-label"><strong>Xứ Chầu Lượt</strong></label>
                            <textarea class="form-control" id="xu-chau-luot"></textarea>
                        </div>
                        <div class="mb-3">
                            <label for="luu-y" class="form-label"><strong>Lưu ý khác</strong></label>
                            <textarea class="form-control" id="luu-y"></textarea>
                        </div>
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title"><a class="btn btn-success" id="show-view-in-lich">Hiển thị</a></h5>
                                <p class="card-text" id="view-in-lich"></p>
                            </div>
                        </div>
                        <div class="mb-3">
                            <div class="alert alert-success " role="alert" id="alert-success" style="display: none;">
                                Cập nhật thành công!                            
                            </div>
                            <div class="alert alert-danger " role="alert" id="alert-failed" style="display: none;">
                                Cập nhật thất bại!
                                
                            </div>
                        </div>
                                                
                    </form>
                    <hr/>
                    <div class="mb-3">
                        
                        <button type="button" class="btn btn-danger" id="delete-ngay-lich">Xóa <i class="bi bi-x-square-fill"></i></button>
                        <button type="button" class="btn btn-success" id="update-ngay-lich">Lưu <i class="bi bi-save-fill"></i></button>
                        
                    </div>
                </div>
            </div>

            <!-- Right Column -->
            <div class="col" id="col-ngay-le" style="overflow-y: scroll; max-height: 90dvh;">
                
            </div>
            <div class="card card-ngay-le" id="card-ngay-le" style="display: none; margin-top:15px">
                <div class="card-header toggle-header"><h5 class="card-title">Card title</h5></div>
                <div class="card-body">
                    
                    <div class="input-group mb-3">
                        <button class="input-group-text use-url">URL</button>
                        <input type="text" class="form-control r-url" disabled>                            
                    </div> 
                    <div class="input-group mb-3">
                        <div class="input-group-text">ID</div>
                        <input type="text" class="form-control r-id" disabled>                            
                    </div>     
                    <div class="input-group mb-3">
                        <button class="input-group-text use-mua-phung-vu">Mùa phụng vụ</button>
                        <input type="text" class="form-control r-mua-phung-vu" disabled>                            
                    </div>                  
                    <div class="input-group mb-3">
                        <button class="input-group-text use-bac-le">Bậc lễ</button>
                        <input type="text" class="form-control r-bac-le" >
                        <button class="input-group-text use-mau-ao-le">Màu phụng vụ</button>
                        <input type="text" class="form-control r-mau-ao-le">
                    </div>  
                    <div class="input-group mb-3">
                        <div class="input-group-text">Ngày Mừng Lễ</div>
                        <input type="text" class="r-date form-control"  disabled>
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-text">Ngày lễ xếp lại</div>
                        <input type="date" class="r-assigned-date form-control"  disabled>
                    </div>
                    
                    <div class="input-group mb-3">
                        <input type="text" class="form-control r-bd-1-le">
                        <button class="input-group-text use-bd-1-le"><i class="bi bi-pencil-square"></i> BĐ1 Năm Lẻ</button>
                        
                        <input id="" type="text" class="form-control r-dap-ca-le">  
                        <button class="input-group-text use-dap-ca-le">Đáp ca</button>                                                                      
                    </div>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control r-bd-1-chan">
                        <button class="input-group-text use-bd-1-chan"><i class="bi bi-pencil-square"></i> BĐ1 Năm Chẵn</button>
                        
                        <input id="" type="text" class="form-control r-dap-ca-chan">                      
                        <button class="input-group-text use-dap-ca-chan">Đáp ca</button>                                                  
                    </div>
                    
                    <div class="input-group mb-3">
                        <input type="text" class="form-control r-bd-2" >
                        <button class="input-group-text use-bd-2">BĐ2</button>
                        
                        <input id="alleluia" type="text" class="form-control r-alleluia"  >
                        <button class="input-group-text use-alleluia">Alleluia</button>
                    </div>
                    <div class="input-group mb-3">
                        <button class="input-group-text use-tin-mung">Tin mừng</button>
                        <input  type="text" class="form-control r-tin-mung" >                            
                    </div>
                    <div class="input-group mb-3">
                        <button class="input-group-text use-cau-loi-chua">Câu lời Chúa</button>
                        <input  type="text" class="form-control r-cau-loi-chua" >                            
                    </div>
                    
                </div>
                <!-- <div class="card-footer">
                    <button type="button" class="btn btn-primary">Cập Nhật</button>
                </div> -->
            </div>
        </div>
      
           
 
</div>
            <!-- Recent Sales End -->


<script>
    $(document).ready(function(){
        $("#show-view-in-lich").click(function(){
            let title = "<h1>"+$("#title").val()+"</h1>"
            let bac_le = "<p>"+$("#bac-le").val()+"</p>"
            let mau_ao_le = "<p>"+$(".mau-ao-le:checked").val()+"</p>"
            let bd_1 = $("#bd-1").val()
            let bd_2 = $("#bd-2").val()
            let tin_mung = $("#tin-mung").val()

            let loi_chua = "<p>"+bd_1+"; "
            if(bd_2 != ""){
                loi_chua+= bd_2+"; "
            }
            loi_chua += tin_mung+"</p>"
            let cau_loi_chua = "<p>"+$("#cau-loi-chua").val()+"</p>"

            let htmlStr = title + bac_le + mau_ao_le + loi_chua +cau_loi_chua
            $("#view-in-lich").html(htmlStr)
        })
        function hienthi(){
            let title = "<h1>"+$("#title").val()+"</h1>"
            let bac_le = "<p>"+$("#bac-le").val()+"</p>"
            let mau_ao_le = "<p>"+$(".mau-ao-le:checked").val()+"</p>"
            let bd_1 = $("#bd-1").val()
            let bd_2 = $("#bd-2").val()
            let tin_mung = $("#tin-mung").val()

            let loi_chua = "<p>"+bd_1+"; "+bd_2+"; "+tin_mung+"</p>"
            let cau_loi_chua = "<p>"+$("#cau-loi-chua")+"</p>"

            let htmlStr = title + bac_le + mau_ao_le + loi_chua +cau_loi_chua
            $("#view-in-lich").append(htmlStr)
        }
        $(".toggle-header").click(function(){
            $(this).siblings(".card-body").toggle()
        })
        $("#delete-ngay-lich").click(function(){
            if(confirm("Có chắc chắn muốn xóa "+ $("input#title").val())){
                $.get("/delete-ngay-lich",{_id: $("input#_id").val()}, function(data, status){
                    if(status == "success"){
                        alert("Xóa thành công!")
                        location.reload()
                    }else{
                        alert("Xóa thất bại!")
                    }
                })
            }else{
                alert("Bạn đã hủy bỏ việc xóa "+  $("input#title").val())
            }
        })
        $('#update-ngay-lich').click(function(){
            let to_send = {}
            to_send._id = $("form input#_id").val()
            to_send.title = $("form input#title").val()
            to_send.url = $("form input#url").val()
            to_send.mua_phung_vu = $("form input#season").val()
            to_send.bac_le = $("form input#bac-le").val()

            to_send.mau_ao_le = $("form input.mau-ao-le:checked").val()
            to_send.bd_1 = $("form input#bd-1").val()
            to_send.bd_2 = $("form input#bd-2").val()
            to_send.dap_ca = $("form input#dap-ca").val()
            to_send.alleluia = $("form input#alleluia").val()
            to_send.tin_mung = $("form input#tin-mung").val()
            to_send.cau_loi_chua = $("form textarea#cau-loi-chua").val()
            to_send.xu_chau_luot = $("form textarea#xu-chau-luot").val()
            to_send.luu_y = $("form textarea#luu-y").val()
            to_send.under_title = $("form textarea#under-title").val()

            console.log(to_send)
            $.get("/update-ngay-lich",to_send, function(data, status){
                if(status == "success"){
                    console.log("Cập nhật thành công "+ data._id )
                    $(".alert").hide()
                    $("#alert-success").show()

                }else{
                    $(".alert").hide()
                    $("#alert-failed").show()
                }
            })
        })
        $("#alert-failed").click(function(){
            $(this).hide()
        })
        $("#alert-success").click(function(){
            $(this).hide()
        })
        $(".use-url").click(function(){
            $("#url").val($(this).siblings("input.r-url").val())
        })
        $(".use-bac-le").click(function(){
            $("#bac-le").val($(this).siblings("input.r-bac-le").val())
        })
        $(".use-mua-phung-vu").click(function(){
            $("#season").val($(this).siblings("input.r-mua-phung-vu").val())
        })
        $(".use-mau-ao-le").click(function(){
            if($(this).siblings("input.r-mau-ao-le").val() == "Tím"){
                $("form input.mau-ao-le").prop("checked", false)
                $("form input#ao-tim").prop("checked", true)                
            }else if($(this).siblings("input.r-mau-ao-le").val() == "Hồng"){
                $("form input.mau-ao-le").prop("checked", false)
                $("form input#ao-hong").prop("checked", true)                
            }else if($(this).siblings("input.r-mau-ao-le").val() == "Trắng"){
                $("form input.mau-ao-le").prop("checked", false)
                $("form input#ao-trang").prop("checked", true)                
            }else if($(this).siblings("input.r-mau-ao-le").val() == "Đỏ"){
                $("form input.mau-ao-le").prop("checked", false)
                $("form input#ao-do").prop("checked", true)                
            }else if($(this).siblings("input.r-mau-ao-le").val() == "Xanh"){
                $("form input.mau-ao-le").prop("checked", false)
                $("form input#ao-xanh").prop("checked", true)                
            }
        })
        $(".use-bd-1-le").click(function(){
            $(".use-bd-1-le").removeClass("btn-success")
            $(".use-bd-1-chan").removeClass("btn-success")
            $(this).addClass("btn-success")
            $("#bd-1").val($(this).siblings("input.r-bd-1-le").val())
        })

        $(".use-bd-1-chan").click(function(){
            $(".use-bd-1-le").removeClass("btn-success")
            $(".use-bd-1-chan").removeClass("btn-success")
            $(this).addClass("btn-success")
            $("#bd-1").val($(this).siblings("input.r-bd-1-chan").val())
        })

        $(".use-bd-2").click(function(){
            $(".use-bd-2").removeClass("btn-success")
            $(this).addClass("btn-success")
            $("#bd-2").val($(this).siblings("input.r-bd-2").val())
        })

        $(".use-dap-ca-le").click(function(){
            $(".use-dap-ca-le").removeClass("btn-success")
            $(".use-dap-ca-chan").removeClass("btn-success")
            $(this).addClass("btn-success")
            $("#dap-ca").val($(this).siblings("input.r-dap-ca-le").val())
        })
        $(".use-dap-ca-chan").click(function(){
            $(".use-dap-ca-le").removeClass("btn-success")
            $(".use-dap-ca-chan").removeClass("btn-success")
            $(this).addClass("btn-success")
            $("#dap-ca").val($(this).siblings("input.r-dap-ca-chan").val())
        })
        $(".use-alleluia").click(function(){
            $(".use-alleluia").removeClass("btn-success")
            $(this).addClass("btn-success")
            $("#alleluia").val($(this).siblings("input.r-alleluia").val())
        })
        $(".use-tin-mung").click(function(){
            $(".use-tin-mung").removeClass("btn-success")
            $(this).addClass("btn-success")
            $("#tin-mung").val($(this).siblings("input.r-tin-mung").val())
        })
        $(".use-cau-loi-chua").click(function(){
            $(".use-cau-loi-chua").removeClass("btn-success")
            $(this).addClass("btn-success")
            $("#cau-loi-chua").val($(this).siblings("input.r-cau-loi-chua").val())
        })
        // $(".use-season").click(function(){
        //     $("#season").val($(this).siblings("input.r-season").val())
        // })
        $(".mass-date").click(function(){
            let id = $(this).attr("id")
            let index = $(this).siblings("input.index").val()
            console.log(id)
            $(this).siblings("a.mass-date.active").removeClass("active")
            $(this).addClass("active")
            $.get("/get-lich",{_id: id}, function(data, status){
                console.log("Data: " + data.toString() + "\nStatus: " + status);
                if(status == "success"){
                    // console.log(data.lich._id)
                    // console.log(data.lich.title)
                    // console.log(data.lich.mau_ao_le)
                    // console.log(data.lich.date)
                    // console.log("Số lễ có thể cử hành: "+data.ngay_le.length)
                    console.log("key:"+data.ngay_le.length)
                    for(key in data.Ortn){
                        console.log(key)
                    }
                    
                    

                    let l_id = id
                    let l_date = $("#date")
                    let l_title = $("#title")
                    let l_url = $("#url")
                    let l_season = $("#season")
                    let l_bac_le = $("#bac-le")
                    let l_mau_ao_le = $(".mau-ao-le")
                    let l_bd_1 = $("#bd-1")
                    let l_bd_2 = $("#bd-2")
                    let l_dap_ca = $("#dap-ca")
                    let l_alleluia = $("#alleluia")
                    let l_tin_mung = $("#tin-mung")
                    let l_cau_loi_chua = $("#cau-loi-chua")

                    let l_xu_chau_luot = $("#xu-chau-luot")
                    let l_luu_y = $("#luu-y")
                    let l_under_title = $("#under-title")
                 
                    l_date.val("") 
                    l_title.val("")
                    l_url.val("")
                    l_season.val("")
                    // l_mau_ao_le = $(".mau-ao-le")
                    l_bd_1.val("")
                    l_bd_2.val("")
                    l_dap_ca.val("")
                    l_alleluia.val("")
                    l_tin_mung.val("")
                    l_cau_loi_chua.val("")

                    l_xu_chau_luot.val("")
                    l_luu_y.val("")
                    l_under_title.val("")

                    $("#_id").val(l_id)
                    if(data.lich.date != undefined){
                        let d = new Date(data.lich.date)
                        l_date.text("Ngày "+d.getDate()+ " Tháng "+ (d.getMonth()+1) + " Năm " + d.getFullYear())
                    }
                    
                    if(data.lich.title != undefined){
                        l_title.val(data.lich.title)
                    }
                    
                    if(data.lich.mau_ao_le == "Tím"){
                        $(".mau-ao-le").prop("checked", false)
                        $("#ao-tim").prop("checked", true)
                    }else if(data.lich.mau_ao_le == "Hồng"){
                        $(".mau-ao-le").prop("checked", false)
                        $("#ao-hong").prop("checked", true)
                    }else if(data.lich.mau_ao_le == "Trắng"){
                        $(".mau-ao-le").prop("checked", false)
                        $("#ao-trang").prop("checked", true)
                    }else if(data.lich.mau_ao_le == "Đỏ"){
                        $(".mau-ao-le").prop("checked", false)
                        $("#ao-do").prop("checked", true)
                    }else if(data.lich.mau_ao_le == "Xanh"){
                        $(".mau-ao-le").prop("checked", false)
                        $("#ao-xanh").prop("checked", true)
                    }else{
                        $(".mau-ao-le").prop("checked", false)
                        // $("#ao-xanh").prop("checked", true)
                    }
                    
                    if(data.lich.url != undefined){
                        l_url.val("")
                        l_url.val(data.lich.url)
                    }
                    if(data.lich.mua_phung_vu != undefined){
                        l_season.val("")
                        l_season.val(data.lich.mua_phung_vu)
                    }
                    if(data.lich.bac_le != undefined){
                        l_bac_le.val("")
                        l_bac_le.val(data.lich.bac_le)
                    }
                    if(data.lich.bd_1 != undefined){
                        l_bd_1.val(data.lich.bd_1)
                    }
                    if(data.lich.bd_2 != undefined){
                        l_bd_2.val(data.lich.bd_2)
                    }
                    if(data.lich.dap_ca != undefined){
                        l_dap_ca.val(data.lich.dap_ca)
                    }
                    if(data.lich.alleluia != undefined){
                        l_alleluia.val(data.lich.alleluia)
                    }
                    if(data.lich.tin_mung != undefined){
                        l_tin_mung.val(data.lich.tin_mung)
                    }
                    if(data.lich.cau_loi_chua != undefined){
                        l_cau_loi_chua.val(data.lich.cau_loi_chua)
                    }
                    if(data.lich.xu_chau_luot != undefined){
                        l_xu_chau_luot.val(data.lich.xu_chau_luot)
                    }
                    if(data.lich.luu_y != undefined){
                        l_luu_y.val(data.lich.luu_y)
                    }
                    if(data.lich.under_title != undefined){
                        l_under_title.val(data.lich.under_title)
                    }
                    $("#col-ngay-le").empty()
                    data.ngay_le.forEach(function(e){
                        // console.log("---->"+$("#rentity-"+e._id).length)
                        if($("#rentity-"+e._id).length == 0){                            
                            let card_ngay_le = $("#card-ngay-le").clone(true, true)
                            card_ngay_le.appendTo("#col-ngay-le")
                            card_ngay_le.attr("id","rentity-"+e._id)
                            // console.log(card_ngay_le.html())
                            card_ngay_le.show()

                            card_ngay_le.find(".card-title").text(e.title)
                            card_ngay_le.find(".r-id").val(e._id)

                            if(e.date != undefined && e.date != ""){
                                card_ngay_le.find(".r-date").val(e.date)
                            }
                            if(e.season != undefined && e.season != ""){
                                card_ngay_le.find(".r-mua-phung-vu").val(e.season)
                            }
                            if(e.bac_le != undefined && e.bac_le != ""){
                                card_ngay_le.find(".r-bac-le").val(e.bac_le)
                            }
                            
                            if(e.mau_ao_le != undefined && e.mau_ao_le != ""){
                                card_ngay_le.find(".r-mau-ao-le").val(e.mau_ao_le)
                            }
                            if(e.url != undefined && e.url != ""){
                                card_ngay_le.find(".r-url").val(e.url)
                            }
                            if(e.assigned_date != undefined){
                                card_ngay_le.find(".r-assigned-date").val(data.lich.date)
                            }
                            if(e.ban_van.bd1_le_trich_tu != undefined){
                                card_ngay_le.find(".r-bd-1-le").val(e.ban_van.bd1_le_trich_tu)
                            }
                            if(e.ban_van.dap_ca_le_trich_tu != undefined){
                                card_ngay_le.find(".r-dap-ca-le").val(e.ban_van.dap_ca_le_trich_tu)
                            }
                            if(e.ban_van.bd1_chan_trich_tu != undefined){
                                card_ngay_le.find(".r-bd-1-chan").val(e.ban_van.bd1_chan_trich_tu)
                            }
                            if(e.ban_van.dap_ca_chan_trich_tu != undefined){
                                card_ngay_le.find(".r-dap-ca-chan").val(e.ban_van.dap_ca_chan_trich_tu)
                            }
                            if(e.ban_van.bd2_trich_tu != undefined){
                                card_ngay_le.find(".r-bd-2").val(e.ban_van.bd2_trich_tu)
                            }
                            if(e.ban_van.alleluia_trich_tu != undefined){
                                card_ngay_le.find(".r-alleluia").val(e.ban_van.alleluia_trich_tu)
                            }
                            if(e.ban_van.phuc_am_trich_tu != undefined){
                                card_ngay_le.find(".r-tin-mung").val(e.ban_van.phuc_am_trich_tu)
                            }
                            if(e.ban_van.cau_phuc_am_tom_gon != undefined){
                                card_ngay_le.find(".r-cau-loi-chua").val(e.ban_van.cau_phuc_am_tom_gon.replace('“','').replace('”',''))
                            }
                            // if(e.ban_van != undefined){
                                
                            //     if(e.ban_van["Bài Ðọc I:"] != undefined){
                            //         //console.log(e.ban_van["Bài Ðọc I:"])
                            //         let tmp = $.parseHTML(e.ban_van["Bài Ðọc I:"])
                            //         //console.log(tmp[0])                            
                            //         card_ngay_le.find(".r-bd-1").val($(tmp[0]).text().split(":")[1].trim())
                            //     }

                            //     if(e.ban_van["Bài Ðọc II:"] != undefined){
                            //         //console.log(e.ban_van["Bài Ðọc II:"])
                            //         let tmp = $.parseHTML(e.ban_van["Bài Ðọc II:"])
                            //         //console.log(tmp[0])   
                            //         card_ngay_le.find(".r-bd-2").val($(tmp[0]).text().split(":")[1].trim())
                            //     }

                            //     if(e.ban_van["Ðáp Ca:"] != undefined){
                            //         let tmp = $.parseHTML(e.ban_van["Ðáp Ca:"])
                            //         card_ngay_le.find(".r-dap-ca").val($(tmp[0]).text().split(":")[1].trim())
                            //     }

                            //     if(e.ban_van["Alleluia:"] != undefined){
                            //         let tmp = $.parseHTML(e.ban_van["Alleluia:"])
                            //         card_ngay_le.find(".r-alleluia").val($(tmp[0]).text().split(":")[1].trim())
                            //     }

                            //     if(e.ban_van["Phúc Âm:"] != undefined){
                            //          let tmp = $.parseHTML(e.ban_van["Phúc Âm:"])
                            //         card_ngay_le.find(".r-tin-mung").val($(tmp[0]).text().split(":")[1].trim())
                            //     }
                            // }
                        }
                        
                    })
                }else{
                    console.log("Status is not success")
                }
            });
        })
    })

</script>           
      
    </div>

