<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>DASHMIN - Bootstrap Admin Template</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600;700&display=swap" rel="stylesheet">
    
    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="css/style.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
     
</head>

<body>
    <div class="container-xxl position-relative bg-white d-flex p-0">
        <!-- Spinner Start -->
        <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
            <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <!-- Spinner End -->


        <!-- Sidebar Start -->
        <div class="sidebar pe-4 pb-3">
            <nav class="navbar bg-light navbar-light">
                <a href="index.html" class="navbar-brand mx-4 mb-3">
                    <h3 class="text-primary"><i class="fa fa-hashtag me-2"></i>DASHMIN</h3>
                </a>
                <div class="d-flex align-items-center ms-4 mb-4">
                    <div class="position-relative">
                        <img class="rounded-circle" src="img/user.jpg" alt="" style="width: 40px; height: 40px;">
                        <div class="bg-success rounded-circle border border-2 border-white position-absolute end-0 bottom-0 p-1"></div>
                    </div>
                    <div class="ms-3">
                        <h6 class="mb-0">Tan Nguyen</h6>
                        <span>Admin</span>
                    </div>
                </div>
                <div class="navbar-nav w-100">
                    <a href="/temp-man" class="nav-item nav-link "><i class="fa fa-tachometer-alt me-2"></i>Dashboard</a>
                    <a href="/bien-tap-lich" class="nav-item nav-link active"><i class="fa fa-tachometer-alt me-2"></i>Biên tập Lịch Công Giáo</a>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i class="fa fa-laptop me-2"></i>Elements</a>
                        <div class="dropdown-menu bg-transparent border-0">
                            <a href="button.html" class="dropdown-item">Buttons</a>
                            <a href="typography.html" class="dropdown-item">Typography</a>
                            <a href="element.html" class="dropdown-item">Other Elements</a>
                        </div>
                    </div>
                    <% ngay_le.forEach(function(u){%>   
                        <a  class="nav-item nav-link btn"><input type="hidden" value="<%=u._id%>"/><%= u.title%></a>
                    <%})%>
                    <!-- <a href="form.html" class="nav-item nav-link"><i class="fa fa-keyboard me-2"></i>Forms</a>
                    <a href="table.html" class="nav-item nav-link"><i class="fa fa-table me-2"></i>Tables</a>
                    <a href="chart.html" class="nav-item nav-link"><i class="fa fa-chart-bar me-2"></i>Charts</a>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i class="far fa-file-alt me-2"></i>Pages</a>
                        <div class="dropdown-menu bg-transparent border-0">
                            <a href="signin.html" class="dropdown-item">Sign In</a>
                            <a href="signup.html" class="dropdown-item">Sign Up</a>
                            <a href="404.html" class="dropdown-item">404 Error</a>
                            <a href="blank.html" class="dropdown-item">Blank Page</a>
                        </div>
                    </div> -->
                </div>
            </nav>
        </div>
        <!-- Sidebar End -->


        <!-- Content Start -->
        <div class="content">
            <!-- Navbar Start -->
            <nav class="navbar navbar-expand bg-light navbar-light sticky-top px-4 py-0">
                <a href="index.html" class="navbar-brand d-flex d-lg-none me-4">
                    <h2 class="text-primary mb-0"><i class="fa fa-hashtag"></i></h2>
                </a>
                <a href="#" class="sidebar-toggler flex-shrink-0">
                    <i class="fa fa-bars"></i>
                </a>
                <form class="d-none d-md-flex ms-4">
                    <input class="form-control border-0" type="search" placeholder="Search">
                </form>
                <div class="navbar-nav align-items-center ms-auto">
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                            <i class="fa fa-envelope me-lg-2"></i>
                            <span class="d-none d-lg-inline-flex">Message</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end bg-light border-0 rounded-0 rounded-bottom m-0">
                            <a href="#" class="dropdown-item">
                                <div class="d-flex align-items-center">
                                    <img class="rounded-circle" src="img/user.jpg" alt="" style="width: 40px; height: 40px;">
                                    <div class="ms-2">
                                        <h6 class="fw-normal mb-0">Jhon send you a message</h6>
                                        <small>15 minutes ago</small>
                                    </div>
                                </div>
                            </a>
                            <hr class="dropdown-divider">
                            <a href="#" class="dropdown-item">
                                <div class="d-flex align-items-center">
                                    <img class="rounded-circle" src="img/user.jpg" alt="" style="width: 40px; height: 40px;">
                                    <div class="ms-2">
                                        <h6 class="fw-normal mb-0">Jhon send you a message</h6>
                                        <small>15 minutes ago</small>
                                    </div>
                                </div>
                            </a>
                            <hr class="dropdown-divider">
                            <a href="#" class="dropdown-item">
                                <div class="d-flex align-items-center">
                                    <img class="rounded-circle" src="img/user.jpg" alt="" style="width: 40px; height: 40px;">
                                    <div class="ms-2">
                                        <h6 class="fw-normal mb-0">Jhon send you a message</h6>
                                        <small>15 minutes ago</small>
                                    </div>
                                </div>
                            </a>
                            <hr class="dropdown-divider">
                            <a href="#" class="dropdown-item text-center">See all message</a>
                        </div>
                    </div>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                            <i class="fa fa-bell me-lg-2"></i>
                            <span class="d-none d-lg-inline-flex">Notificatin</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end bg-light border-0 rounded-0 rounded-bottom m-0">
                            <a href="#" class="dropdown-item">
                                <h6 class="fw-normal mb-0">Profile updated</h6>
                                <small>15 minutes ago</small>
                            </a>
                            <hr class="dropdown-divider">
                            <a href="#" class="dropdown-item">
                                <h6 class="fw-normal mb-0">New user added</h6>
                                <small>15 minutes ago</small>
                            </a>
                            <hr class="dropdown-divider">
                            <a href="#" class="dropdown-item">
                                <h6 class="fw-normal mb-0">Password changed</h6>
                                <small>15 minutes ago</small>
                            </a>
                            <hr class="dropdown-divider">
                            <a href="#" class="dropdown-item text-center">See all notifications</a>
                        </div>
                    </div>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                            <img class="rounded-circle me-lg-2" src="img/user.jpg" alt="" style="width: 40px; height: 40px;">
                            <span class="d-none d-lg-inline-flex">John Doe</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end bg-light border-0 rounded-0 rounded-bottom m-0">
                            <a href="#" class="dropdown-item">My Profile</a>
                            <a href="#" class="dropdown-item">Settings</a>
                            <a href="#" class="dropdown-item">Log Out</a>
                        </div>
                    </div>
                </div>
            </nav>
            <!-- Navbar End -->


            <!-- Sale & Revenue Start -->
            <!-- <div class="container-fluid pt-4 px-4">
                <div class="row g-4">
                    <div class="col-sm-6 col-xl-3">
                        <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                            <i class="fa fa-chart-line fa-3x text-primary"></i>
                            <div class="ms-3">
                                <p class="mb-2">Today Sale</p>
                                <h6 class="mb-0">$1234</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xl-3">
                        <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                            <i class="fa fa-chart-bar fa-3x text-primary"></i>
                            <div class="ms-3">
                                <p class="mb-2">Total Sale</p>
                                <h6 class="mb-0">$1234</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xl-3">
                        <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                            <i class="fa fa-chart-area fa-3x text-primary"></i>
                            <div class="ms-3">
                                <p class="mb-2">Today Revenue</p>
                                <h6 class="mb-0">$1234</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xl-3">
                        <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                            <i class="fa fa-chart-pie fa-3x text-primary"></i>
                            <div class="ms-3">
                                <p class="mb-2">Total Revenue</p>
                                <h6 class="mb-0">$1234</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->
            <!-- Sale & Revenue End -->


            <!-- Sales Chart Start -->
            <!-- <div class="container-fluid pt-4 px-4">
                <div class="row g-4">
                    <div class="col-sm-12 col-xl-6">
                        <div class="bg-light text-center rounded p-4">
                            <div class="d-flex align-items-center justify-content-between mb-4">
                                <h6 class="mb-0">Worldwide Sales</h6>
                                <a href="">Show All</a>
                            </div>
                            <canvas id="worldwide-sales"></canvas>
                        </div>
                    </div>
                    <div class="col-sm-12 col-xl-6">
                        <div class="bg-light text-center rounded p-4">
                            <div class="d-flex align-items-center justify-content-between mb-4">
                                <h6 class="mb-0">Salse & Revenue</h6>
                                <a href="">Show All</a>
                            </div>
                            <canvas id="salse-revenue"></canvas>
                        </div>
                    </div>
                </div>
            </div> -->
            <!-- Sales Chart End -->


            <!-- Recent Sales Start -->
             
             
            <div class="container-fluid pt-4 px-4">
                <div class="bg-light text-center rounded p-4">
                    <div class="d-flex align-items-center justify-content-between mb-4">
                        
                    </div>
                    
                        
                            <script>
                              function standalizeDate(date){
                                day = date.getDate()+1
                                month = date.getMonth()
                                year = date.getFullYear()
                                if(day<10){
                                    day = "0"+day
                                }
                                if(month < 10){
                                    month = "0"+month
                                }
                                return year+"-"+month+"-"+day
                            }
                              $(document).ready(function(){
                                $('.hc-bd1-le').click(function(){
                                    $(this).prop("disabled", true)
                                    let bd1_le_trich_tu = $(this).parent().find("input.r-bd1-le-trich-tu")
                                    let cau_bd1_le_tom_gon = $(this).parent().find("input.r-cau-bd1-le-tom-gon")
                                    let bd1_le = $(this).siblings("textarea.r-bd1-le")

                                    n_dvtl = $(bd1_le.val()).first().text().split(":")[1]
                                    bd1_le_trich_tu.val(n_dvtl)

                                    n_dvtl = $(bd1_le.val()).first().next().text()
                                    cau_bd1_le_tom_gon.val(n_dvtl)

                                    n_dvtl = $("<div>"+bd1_le.val()+"</div>")
                                    n_dvtl.find('p').slice(0,2).remove()
                                    bd1_le.val(n_dvtl.html())                                    
                                })
                                $('.hc-bd2').click(function(){
                                    $(this).prop("disabled", true)
                                    let bd2_le_trich_tu = $(this).parent().find("input.r-bd2-trich-tu")
                                    let cau_bd2_le_tom_gon = $(this).parent().find("input.r-cau-bd2-tom-gon")
                                    let bd2_le = $(this).siblings("textarea.r-bd2")

                                    n_dvtl = $(bd2_le.val()).first().text().split(":")[1]
                                    bd2_le_trich_tu.val(n_dvtl)

                                    n_dvtl = $(bd2_le.val()).first().next().text()
                                    cau_bd2_le_tom_gon.val(n_dvtl)

                                    n_dvtl = $("<div>"+bd2_le.val()+"</div>")
                                    n_dvtl.find('p').slice(0,2).remove()
                                    bd2_le.val(n_dvtl.html())                                    
                                })
                                $('.hc-dap-ca').click(function(){
                                    $(this).prop("disabled", true)
                                    let bd2_le_trich_tu = $(this).parent().find("input.r-dap-ca-trich-tu")
                                    
                                    let bd2_le = $(this).siblings("textarea.r-dap-ca")

                                    n_dvtl = $(bd2_le.val()).first().text().split(":")[1]
                                    bd2_le_trich_tu.val(n_dvtl)


                                    n_dvtl = $("<div>"+bd2_le.val()+"</div>")
                                    n_dvtl.find('p').slice(0,1).remove()
                                    bd2_le.val(n_dvtl.html())                                    
                                })
                                $('.hc-alleluia').click(function(){
                                    $(this).prop("disabled", true)
                                    let bd2_le_trich_tu = $(this).parent().find("input.r-alleluia-trich-tu")
                                    
                                    let bd2_le = $(this).siblings("textarea.r-alleluia")

                                    n_dvtl = $(bd2_le.val()).first().text().split(":")[1]
                                    bd2_le_trich_tu.val(n_dvtl)


                                    n_dvtl = $("<div>"+bd2_le.val()+"</div>")
                                    n_dvtl.find('p').slice(0,1).remove()
                                    bd2_le.val(n_dvtl.html())                                    
                                })
                                $('.hc-phuc-am').click(function(){
                                    $(this).prop("disabled", true)
                                    let bd2_le_trich_tu = $(this).parent().find("input.r-phuc-am-trich-tu")
                                    let cau_bd2_le_tom_gon = $(this).parent().find("input.r-cau-phuc-am-tom-gon")
                                    let bd2_le = $(this).siblings("textarea.r-phuc-am")

                                    n_dvtl = $(bd2_le.val()).first().text().split(":")[1]
                                    bd2_le_trich_tu.val(n_dvtl)

                                    n_dvtl = $(bd2_le.val()).first().next().text()
                                    cau_bd2_le_tom_gon.val(n_dvtl)

                                    n_dvtl = $("<div>"+bd2_le.val()+"</div>")
                                    n_dvtl.find('p').slice(0,2).remove()
                                    bd2_le.val(n_dvtl.html())                                    
                                })
                                $(".btn-hieu-chinh").click(function(){
                                    $(this).prop("disabled", true)
                                    let dan_vao_thanh_le = $(this).parents(".form-ngay-le").find("textarea.r-dan-vao-thanh-le")
                                    let ca_nhap_le = $(this).parents(".form-ngay-le").find("textarea.r-ca-nhap-le")
                                    let loi_nguyen_nhap_le = $(this).parents(".form-ngay-le").find("textarea.r-loi-nguyen-nhap-le")

                                    let bd1_le_trich_tu = $(this).parents(".form-ngay-le").find("input.r-bd1-le-trich-tu")
                                    let cau_bd1_le_tom_gon = $(this).parents(".form-ngay-le").find("input.r-cau-bd1-le-tom-gon")
                                    let bd1_le = $(this).parents(".form-ngay-le").find("textarea.r-bd1-le")

                                    let bd1_chan_trich_tu = $(this).parents(".form-ngay-le").find("input.r-bd1-chan-trich-tu")
                                    let cau_bd1_chan_tom_gon = $(this).parents(".form-ngay-le").find("input.r-cau-bd1-chan-tom-gon")
                                    let bd1_chan = $(this).parents(".form-ngay-le").find("textarea.r-bd1-chan")

                                    let dap_ca_trich_tu = $(this).parents(".form-ngay-le").find("input.r-dap-ca-trich-tu")                                    
                                    let dap_ca = $(this).parents(".form-ngay-le").find("textarea.r-dap-ca")
                          

                                    let bd2_trich_tu = $(this).parents(".form-ngay-le").find("input.r-bd2-trich-tu")
                                    let cau_bd2_tom_gon = $(this).parents(".form-ngay-le").find("input.r-cau-bd2-tom-gon")
                                    let bd2 = $(this).parents(".form-ngay-le").find("textarea.r-bd2")

                                    let alleluia_trich_tu = $(this).parents(".form-ngay-le").find("input.r-alleluia-trich-tu")                                    
                                    let alleluia = $(this).parents(".form-ngay-le").find("textarea.r-alleluia")

                                    let phuc_am_trich_tu = $(this).parents(".form-ngay-le").find("input.r-phuc-am-trich-tu")
                                    let cau_phuc_am_tom_gon = $(this).parents(".form-ngay-le").find("input.r-cau-phuc-am-tom-gon")
                                    let phuc_am = $(this).parents(".form-ngay-le").find("textarea.r-phuc-am")

                                    let loi_nguyen_tin_huu = $(this).parents(".form-ngay-le").find("textarea.r-loi-nguyen-tin-huu")
                                    let loi_nguyen_tien_le = $(this).parents(".form-ngay-le").find("textarea.r-loi-nguyen-tien-le")
                                    let ca_hiep_le = $(this).parents(".form-ngay-le").find("textarea.r-ca-hiep-le")
                                    let loi_nguyen_hiep_le = $(this).parents(".form-ngay-le").find("textarea.r-loi-nguyen-hiep-le")

                                    let n_dvtl = $(dan_vao_thanh_le.val().replace(/<p[^>]*>[\s\S]*?<\/p>/, ''))
                                    dan_vao_thanh_le.val(n_dvtl.text())

                                    n_dvtl = $(ca_nhap_le.val().replace(/<p[^>]*>[\s\S]*?<\/p>/, ''))
                                    ca_nhap_le.val(n_dvtl.text())
                                    
                                    n_dvtl = $(loi_nguyen_nhap_le.val().replace(/<p[^>]*>[\s\S]*?<\/p>/, ''))
                                    loi_nguyen_nhap_le.val(n_dvtl.text())

                                    // n_dvtl = $(dap_ca.val().replace(/<p[^>]*>[\s\S]*?<\/p>/, ''))
                                    // dap_ca.val(n_dvtl.text())

                                    // n_dvtl = $(alleluia.val()).first().text().split(":")[1]
                                    // alleluia_trich_tu.val(n_dvtl)
                                    // n_dvtl = $(alleluia.val().replace(/<p[^>]*>[\s\S]*?<\/p>/, ''))
                                    // alleluia.val(n_dvtl.text())
                                    
                                    n_dvtl = $(loi_nguyen_tien_le.val().replace(/<p[^>]*>[\s\S]*?<\/p>/, ''))
                                    loi_nguyen_tien_le.val(n_dvtl.text())

                                    n_dvtl = $(ca_hiep_le.val().replace(/<p[^>]*>[\s\S]*?<\/p>/, ''))
                                    ca_hiep_le.val(n_dvtl.text())

                                    n_dvtl = $(loi_nguyen_hiep_le.val().replace(/<p[^>]*>[\s\S]*?<\/p>/, ''))
                                    loi_nguyen_hiep_le.val(n_dvtl.text())

                                    n_dvtl = loi_nguyen_tin_huu.val().replace(/<p[^>]*>[\s\S]*?<\/p>/, '')
                                    loi_nguyen_tin_huu.val(n_dvtl)

                                    let ban_van = {
                                        dan_vao_thanh_le: dan_vao_thanh_le.val(),
                                        ca_nhap_le: ca_nhap_le.val(),
                                        loi_nguyen_nhap_le: loi_nguyen_nhap_le.val(),

                                        bd1_le_trich_tu: bd1_le_trich_tu.val(),
                                        cau_bd1_le_tom_gon: cau_bd1_le_tom_gon.val(),
                                        bd1_le: bd1_le.val(),

                                        bd1_chan_trich_tu: bd1_chan_trich_tu.val(),
                                        cau_bd1_chan_tom_gon: cau_bd1_chan_tom_gon.val(),
                                        bd1_chan: bd1_chan.val(),

                                        dap_ca_trich_tu: dap_ca_trich_tu.val(),
                                        dap_ca: dap_ca.val(),
                                        bd2_trich_tu: bd2_trich_tu.val(),
                                        cau_bd2_tom_gon: cau_bd2_tom_gon.val(),
                                        bd2: bd2.val(),

                                        alleluia_trich_tu: alleluia_trich_tu.val(),
                                        alleluia: alleluia.val(),

                                        phuc_am_trich_tu: phuc_am_trich_tu.val(),
                                        cau_phuc_am_tom_gon: cau_phuc_am_tom_gon.val(),
                                        phuc_am: phuc_am.val(),

                                        loi_nguyen_tin_huu: loi_nguyen_tin_huu.val(),
                                        loi_nguyen_tien_le: loi_nguyen_tien_le.val(),
                                        ca_hiep_le: ca_hiep_le.val(),
                                        loi_nguyen_hiep_le: loi_nguyen_hiep_le.val()
                                    }

                                    console.log(ban_van)
                                })
                                
                                
                                $(".date").click(function(){
                                  
                                })
                                $(".unset").click(function(){
                                  $(this).siblings(".i-date").val("")
                                  $(this).parents("tr").nextAll().find(".checkbox").prop("checked", false)
                                })
                                $(".rscheckbox").click(function(){
                                    
                                })
                                function update(cur_index, arr_hc){
                                    $.get($(arr_hc[cur_index]).find("a.btn-hieu-chinh").attr("href"), function(data, status){
                                        $(arr_hc[cur_index]).find(".card-header").removeClass('bg-primary')
                                        if(status == "success"){                                            
                                            $(arr_hc[cur_index]).find(".card-header").addClass('bg-success')
                                        }else{
                                            $(arr_hc[cur_index]).find(".card-header").addClass('bg-danger')
                                        }
                                        if(cur_index < arr_hc.length - 1){
                                            cur_index++
                                            update(cur_index,arr_hc)
                                        }
                                    })
                                }
                                $("#update-all--").click(function(){
                                    let arr_hc = $(".form-ngay-le")
                                    console.log("arr_hc.length = "+arr_hc.length)
                                    update(0, arr_hc)
                                    
                                })
                                $(".btn-savea").click(function(){                            
                                    let dan_vao_thanh_le = $(this).parents(".form-ngay-le").find("textarea.r-dan-vao-thanh-le")
                                    let ca_nhap_le = $(this).parents(".form-ngay-le").find("textarea.r-ca-nhap-le")
                                    let loi_nguyen_nhap_le = $(this).parents(".form-ngay-le").find("textarea.r-loi-nguyen-nhap-le")

                                    let bd1_le_trich_tu = $(this).parents(".form-ngay-le").find("input.r-bd1-le-trich-tu")
                                    let cau_bd1_le_tom_gon = $(this).parents(".form-ngay-le").find("input.r-cau-bd1-le-tom-gon")
                                    let bd1_le = $(this).parents(".form-ngay-le").find("textarea.r-bd1-le")

                                    let bd1_chan_trich_tu = $(this).parents(".form-ngay-le").find("input.r-bd1-chan-trich-tu")
                                    let cau_bd1_chan_tom_gon = $(this).parents(".form-ngay-le").find("input.r-cau-bd1-chan-tom-gon")
                                    let bd1_chan = $(this).parents(".form-ngay-le").find("textarea.r-bd1-chan")

                                    let dap_ca_trich_tu = $(this).parents(".form-ngay-le").find("input.r-dap-ca-trich-tu")                                    
                                    let dap_ca = $(this).parents(".form-ngay-le").find("textarea.r-dap-ca")
                          

                                    let bd2_trich_tu = $(this).parents(".form-ngay-le").find("input.r-bd2-trich-tu")
                                    let cau_bd2_tom_gon = $(this).parents(".form-ngay-le").find("input.r-cau-bd2-tom-gon")
                                    let bd2 = $(this).parents(".form-ngay-le").find("textarea.r-bd2")

                                    let alleluia_trich_tu = $(this).parents(".form-ngay-le").find("input.r-alleluia-trich-tu")                                    
                                    let alleluia = $(this).parents(".form-ngay-le").find("textarea.r-alleluia")

                                    let phuc_am_trich_tu = $(this).parents(".form-ngay-le").find("input.r-phuc-am-trich-tu")
                                    let cau_phuc_am_tom_gon = $(this).parents(".form-ngay-le").find("input.r-cau-phuc-am-tom-gon")
                                    let phuc_am = $(this).parents(".form-ngay-le").find("textarea.r-phuc-am")

                                    let loi_nguyen_tin_huu = $(this).parents(".form-ngay-le").find("textarea.r-loi-nguyen-tin-huu")
                                    let loi_nguyen_tien_le = $(this).parents(".form-ngay-le").find("textarea.r-loi-nguyen-tien-le")
                                    let ca_hiep_le = $(this).parents(".form-ngay-le").find("textarea.r-ca-hiep-le")
                                    let loi_nguyen_hiep_le = $(this).parents(".form-ngay-le").find("textarea.r-loi-nguyen-hiep-le")

                                    let doc = {
                                    title : $(this).parents(".form-ngay-le").find('input.m-title').val(),
                                    date : $(this).parents(".form-ngay-le").find('input.r-date').val(),
                                    assigned_date : $(this).parents(".form-ngay-le").find('input.assigned-date').val(),
                                    week : $(this).parents(".form-ngay-le").find('input.week').val(),
                                    season : $(this).parents(".form-ngay-le").find('input.season').val(),
                                    bac_le : $(this).parents(".form-ngay-le").find('input.bac_le').val(),
                                    mau_ao_le : $(this).parents(".form-ngay-le").find('input.mau-ao-le').val(),
                                    _id : $(this).parents(".form-ngay-le").find('input._id').val(),

                                    ban_van : {
                                        dan_vao_thanh_le: dan_vao_thanh_le.val(),
                                        ca_nhap_le: ca_nhap_le.val(),
                                        loi_nguyen_nhap_le: loi_nguyen_nhap_le.val(),

                                        bd1_le_trich_tu: bd1_le_trich_tu.val(),
                                        cau_bd1_le_tom_gon: cau_bd1_le_tom_gon.val(),
                                        bd1_le: bd1_le.val(),

                                        bd1_chan_trich_tu: bd1_chan_trich_tu.val(),
                                        cau_bd1_chan_tom_gon: cau_bd1_chan_tom_gon.val(),
                                        bd1_chan: bd1_chan.val(),

                                        dap_ca_trich_tu: dap_ca_trich_tu.val(),
                                        dap_ca: dap_ca.val(),
                                        bd2_trich_tu: bd2_trich_tu.val(),
                                        cau_bd2_tom_gon: cau_bd2_tom_gon.val(),
                                        bd2: bd2.val(),

                                        alleluia_trich_tu: alleluia_trich_tu.val(),
                                        alleluia: alleluia.val(),

                                        phuc_am_trich_tu: phuc_am_trich_tu.val(),
                                        cau_phuc_am_tom_gon: cau_phuc_am_tom_gon.val(),
                                        phuc_am: phuc_am.val(),

                                        loi_nguyen_tin_huu: loi_nguyen_tin_huu.val(),
                                        loi_nguyen_tien_le: loi_nguyen_tien_le.val(),
                                        ca_hiep_le: ca_hiep_le.val(),
                                        loi_nguyen_hiep_le: loi_nguyen_hiep_le.val()
                                        }
                                    }
                                $.get("/update-bien-tap-ngay-le", doc,                                  
                                    function(data, status){
                                    console.log("Data: ")
                                    console.log(data.update_data)
                                    console.log("\nStatus: " + status)
                                    }
                                );
                                })
                                $(".check-all").click(function(){
                                    $(".checkbox").prop("checked", $(this).is(":checked"))
                                })
                                $(".save-all").click(function(){
                                    
                                    $(".btn-save").each(function(){
                                        // console.log($(this).parents("tr").find(".checkbox").is(":checked"))
                                        if($(this).parents("tr").find(".checkbox").is(":checked") == true){
                                        let title = $(this).parents("tr").find("td.title").text()
                                        let date = $(this).parents("tr").find("input.i-date").val()
                                        let id_le_theo_mua_phung_vu = $(this).siblings(".id_le_theo_mua_phung_vu").val()
                                        let mau_ao_le = ""
                                        if($(this).parents("tr").find(".mau_ao_le").length == 1){
                                            
                                            mau_ao_le = $(this).parents("tr").find(".mau_ao_le").val()
                                        }else{
                                            console.log("mau ao le != "+$(this).parents("tr").find("input:checked").val())
                                            mau_ao_le = $(this).parents("tr").find("input:checked").val()
                                        }
                                        //console.log("mau ao le != "+$(this).parents("tr").find(".mau_ao_le").length)
                                        let req = {
                                            title: title,
                                            date: date,
                                            id_le_theo_mua_phung_vu: id_le_theo_mua_phung_vu,
                                            mau_ao_le: mau_ao_le
                                        }
                                        console.log(JSON.stringify(req))
                                        // const xhttp = new XMLHttpRequest();
                                        // xhttp.onload = function() {
                                        //   // document.getElementById("demo").innerHTML = this.responseText;
                                        //   console.log(this.responseText)
                                        //   }                                
                                        // xhttp.open("GET", "/submit-data", true);
                                        // xhttp.send();
                                        $.get("/submitdata", req,                                  
                                            function(data, status){
                                            console.log("Data: " + data.data + "\nStatus: " + status);
                                            }
                                        );
                                        console.log("--------------------------")
                                        }
                                        
                                    })
                                })
                                
                              })
                            </script>
                            <!-- <button type="button" class="btn btn-danger save-all">Save All</button> -->
                              
<!-- <button class="btn btn-primary" id="update-all">Update all</button>                             -->
<% ngay_le.forEach(function(u){%>                                
<div class="container mt-5 mb-5 form-ngay-le">
        <input type="hidden" value="<%= u._id%>" class="_id">
        <div class="row justify-content-center">
            <div class="col-md-10">
                <div class="card shadow">
                    <div class="card-header bg-primary text-white">
                        <h4 class="mb-0"><%= u.title%></h4>
                    </div>
                    <div class="card-body">                        
                            <!-- Text Inputs Section -->
                            
                            <div class="row mb-3">                                
                                <div class="col-md-12 input-group">
                                    <span class="input-group-text"><strong>Tiêu đề Ngày Lễ:</strong></span>
                                    <input type="text" class="form-control m-title" value="<%= u.title %>">
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-md-12 input-group">
                                    <span class="input-group-text "><strong>Tuần:</strong></span>
                                    <input type="text" class="form-control week" value="<%= u.week %>">
                                    <span class="input-group-text "><strong>Mùa:</strong></span>
                                    <input type="text" class="form-control season" value="<%= u.season %>">
                                </div>                                
                            </div>
                            <div class="row mb-3">
                                <div class="col-md-12 input-group">
                                    <span class="input-group-text"><strong>Bậc lễ:</strong></span>
                                    <input type="text" class="form-control bac-le" value="<%= u.bac_le %>">
                                    <span class="input-group-text"><strong>Màu áo lễ:</strong></span>
                                    <input type="text" class="form-control mau-ao-le" value="<%= u.mau_ao_le %>">
                                </div>                                
                            </div>
                            <div class="row mb-3">                                
                                <div class="col-md-12 input-group">
                                    <span class="input-group-text"><strong><a target="_blank" href="<%= u.url %>">URL:</a></strong></span>
                                    <input type="text" class="form-control" value="<%= u.url %>" disabled>
                                </div>
                            </div>

                            <!-- <div class="row mb-3">
                                <div class="col-md-6">
                                    <label for="text5" class="form-label">Field 5</label>
                                    <input type="text" class="form-control" id="text5" placeholder="Enter text">
                                </div>
                                <div class="col-md-6">
                                    <label for="text6" class="form-label">Field 6</label>
                                    <input type="text" class="form-control" id="text6" placeholder="Enter text">
                                </div>
                            </div>                             -->

                            <!-- Date Inputs Section -->
                            <h5 class="mb-3"><strong>Ngày Mừng Lễ</strong></h5>
                            <div class="row mb-4">
                                <div class="col-md-6 input-group">
                                    <span class="input-group-text"><strong>Regular Date</strong></span>
                                    <input type="text" class="form-control r-date" value="<%= u.date %>">
                                    <span class="input-group-text"><strong>In 2025-26</strong></span>
                                    <% if(u.hasOwnProperty('assigned_date')){%>
                                    <!-- Tạm thời fix cứng cho 2 năm 2025-2026 -->
                                    <% if(u.assigned_date.hasOwnProperty('2025')){%>
                                        <input type="date" class="form-control assigned-date" value="<%= u.assigned_date['2025']%>">
                                    <%}else{%>
                                        <input type="date" class="form-control assigned-date" value="<%= u.assigned_date['2026']%>">
                                    <%}
                                    }else{%>
                                        <input type="date" class="form-control assigned-date">
                                    <%}%>
                                    <button class="form-control set-default-date"><i class="bi bi-calendar-check"></i></button>
                                </div>                                
                            </div>
                            
                            
                            <div class="alert alert-success alert-dismissible fade show" role="alert" style="display: none;">
                              Cập nhật thành công!
                              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                            <div class="alert alert-danger alert-dismissible fade show" role="alert" style="display: none;">
                              Cập nhật thất bại!
                              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                            <!-- Submit Buttons -->

                            <div class="d-flex justify-content-end">
                                <a type="button" target="_blank" href="/bien-tap-ban-van?_id=<%=u._id%>" class="btn btn-secondary me-2 btn-hieu-chinh">Chỉnh Sửa Bản Văn</a>
                                <button type="button" class="btn btn-secondary me-2">Cancel</button>
                                <button type="submit" class="btn btn-primary btn-save">Save</button>
                            </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>

<% }) %>
<script>

$(document).ready(function(){
    $(".set-default-date").click(function(){
        let date = $(this).siblings("input.r-date").val().split("/")
        let now = new Date()
        console.log(now.getFullYear()+"-"+date[1]+"-"+date[0])
        $(this).siblings("input.assigned-date").val((now.getFullYear()+1)+"-"+date[1]+"-"+date[0])
    })
    $(".btn-save").click(function(){
        let _id = $(this).parents(".form-ngay-le").find("input._id").val();
        let title = $(this).parents(".form-ngay-le").find("input.m-title").val();
        let r_date = $(this).parents(".form-ngay-le").find("input.r-date").val();
        let week = $(this).parents(".form-ngay-le").find("input.week").val();
        let season = $(this).parents(".form-ngay-le").find("input.season").val();
        let bac_le = $(this).parents(".form-ngay-le").find("input.bac-le").val();
        let assigned_date = $(this).parents(".form-ngay-le").find("input.assigned-date").val();
        let mau_ao_le = $(this).parents(".form-ngay-le").find("input.mau-ao-le").val();

        let dan_vao_thanh_le = $(this).parents(".form-ngay-le").find("textarea.r-dan-vao-thanh-le")
        let ca_nhap_le = $(this).parents(".form-ngay-le").find("textarea.r-ca-nhap-le")
        let loi_nguyen_nhap_le = $(this).parents(".form-ngay-le").find("textarea.r-loi-nguyen-nhap-le")

        let bd1_le_trich_tu = $(this).parents(".form-ngay-le").find("input.r-bd1-le-trich-tu")
        let cau_bd1_le_tom_gon = $(this).parents(".form-ngay-le").find("input.r-cau-bd1-le-tom-gon")
        let bd1_le = $(this).parents(".form-ngay-le").find("textarea.r-bd1-le")

        let bd1_chan_trich_tu = $(this).parents(".form-ngay-le").find("input.r-bd1-chan-trich-tu")
        let cau_bd1_chan_tom_gon = $(this).parents(".form-ngay-le").find("input.r-cau-bd1-chan-tom-gon")
        let bd1_chan = $(this).parents(".form-ngay-le").find("textarea.r-bd1-chan")

        let dap_ca_trich_tu = $(this).parents(".form-ngay-le").find("input.r-dap-ca-trich-tu")                                    
        let dap_ca = $(this).parents(".form-ngay-le").find("textarea.r-dap-ca")


        let bd2_trich_tu = $(this).parents(".form-ngay-le").find("input.r-bd2-trich-tu")
        let cau_bd2_tom_gon = $(this).parents(".form-ngay-le").find("input.r-cau-bd2-tom-gon")
        let bd2 = $(this).parents(".form-ngay-le").find("textarea.r-bd2")

        let alleluia_trich_tu = $(this).parents(".form-ngay-le").find("input.r-alleluia-trich-tu")                                    
        let alleluia = $(this).parents(".form-ngay-le").find("textarea.r-alleluia")

        let phuc_am_trich_tu = $(this).parents(".form-ngay-le").find("input.r-phuc-am-trich-tu")
        let cau_phuc_am_tom_gon = $(this).parents(".form-ngay-le").find("input.r-cau-phuc-am-tom-gon")
        let phuc_am = $(this).parents(".form-ngay-le").find("textarea.r-phuc-am")

        let loi_nguyen_tin_huu = $(this).parents(".form-ngay-le").find("textarea.r-loi-nguyen-tin-huu")
        let loi_nguyen_tien_le = $(this).parents(".form-ngay-le").find("textarea.r-loi-nguyen-tien-le")
        let ca_hiep_le = $(this).parents(".form-ngay-le").find("textarea.r-ca-hiep-le")
        let loi_nguyen_hiep_le = $(this).parents(".form-ngay-le").find("textarea.r-loi-nguyen-hiep-le")

        let doc = {
        title : $(this).parents(".form-ngay-le").find('input.m-title').val(),
        date : $(this).parents(".form-ngay-le").find('input.r-date').val(),
        assigned_date : $(this).parents(".form-ngay-le").find('input.assigned-date').val(),
        week : $(this).parents(".form-ngay-le").find('input.week').val(),
        season : $(this).parents(".form-ngay-le").find('input.season').val(),
        bac_le : $(this).parents(".form-ngay-le").find('input.bac_le').val(),
        mau_ao_le : $(this).parents(".form-ngay-le").find('input.mau-ao-le').val(),
        _id : $(this).parents(".form-ngay-le").find('input._id').val(),

        ban_van : {
            dan_vao_thanh_le: dan_vao_thanh_le.val(),
            ca_nhap_le: ca_nhap_le.val(),
            loi_nguyen_nhap_le: loi_nguyen_nhap_le.val(),

            bd1_le_trich_tu: bd1_le_trich_tu.val(),
            cau_bd1_le_tom_gon: cau_bd1_le_tom_gon.val(),
            bd1_le: bd1_le.val(),

            bd1_chan_trich_tu: bd1_chan_trich_tu.val(),
            cau_bd1_chan_tom_gon: cau_bd1_chan_tom_gon.val(),
            bd1_chan: bd1_chan.val(),

            dap_ca_trich_tu: dap_ca_trich_tu.val(),
            dap_ca: dap_ca.val(),
            bd2_trich_tu: bd2_trich_tu.val(),
            cau_bd2_tom_gon: cau_bd2_tom_gon.val(),
            bd2: bd2.val(),

            alleluia_trich_tu: alleluia_trich_tu.val(),
            alleluia: alleluia.val(),

            phuc_am_trich_tu: phuc_am_trich_tu.val(),
            cau_phuc_am_tom_gon: cau_phuc_am_tom_gon.val(),
            phuc_am: phuc_am.val(),

            loi_nguyen_tin_huu: loi_nguyen_tin_huu.val(),
            loi_nguyen_tien_le: loi_nguyen_tien_le.val(),
            ca_hiep_le: ca_hiep_le.val(),
            loi_nguyen_hiep_le: loi_nguyen_hiep_le.val()
        }
        }
        
        console.log("Data sent:")
        console.log(doc)
        
        
        alr_suc = $(this).parents(".form-ngay-le").find(".alert-success")
        alr_dan = $(this).parents(".form-ngay-le").find(".alert-danger")
        $.get("/update-ngay-le", ban_van, function(da, sta){
            if(sta == "success"){
                alr_suc.show()
                alr_dan.hide()
            }else{
                alr_suc.hide()
                alr_dan.show()
            }
        })
    })
    
})
</script>                                              
            <!-- Recent Sales End -->


            <!-- Widgets Start -->
            <!-- <div class="container-fluid pt-4 px-4">
                <div class="row g-4">
                    <div class="col-sm-12 col-md-6 col-xl-4">
                        <div class="h-100 bg-light rounded p-4">
                            <div class="d-flex align-items-center justify-content-between mb-2">
                                <h6 class="mb-0">Messages</h6>
                                <a href="">Show All</a>
                            </div>
                            <div class="d-flex align-items-center border-bottom py-3">
                                <img class="rounded-circle flex-shrink-0" src="img/user.jpg" alt="" style="width: 40px; height: 40px;">
                                <div class="w-100 ms-3">
                                    <div class="d-flex w-100 justify-content-between">
                                        <h6 class="mb-0">Jhon Doe</h6>
                                        <small>15 minutes ago</small>
                                    </div>
                                    <span>Short message goes here...</span>
                                </div>
                            </div>
                            <div class="d-flex align-items-center border-bottom py-3">
                                <img class="rounded-circle flex-shrink-0" src="img/user.jpg" alt="" style="width: 40px; height: 40px;">
                                <div class="w-100 ms-3">
                                    <div class="d-flex w-100 justify-content-between">
                                        <h6 class="mb-0">Jhon Doe</h6>
                                        <small>15 minutes ago</small>
                                    </div>
                                    <span>Short message goes here...</span>
                                </div>
                            </div>
                            <div class="d-flex align-items-center border-bottom py-3">
                                <img class="rounded-circle flex-shrink-0" src="img/user.jpg" alt="" style="width: 40px; height: 40px;">
                                <div class="w-100 ms-3">
                                    <div class="d-flex w-100 justify-content-between">
                                        <h6 class="mb-0">Jhon Doe</h6>
                                        <small>15 minutes ago</small>
                                    </div>
                                    <span>Short message goes here...</span>
                                </div>
                            </div>
                            <div class="d-flex align-items-center pt-3">
                                <img class="rounded-circle flex-shrink-0" src="img/user.jpg" alt="" style="width: 40px; height: 40px;">
                                <div class="w-100 ms-3">
                                    <div class="d-flex w-100 justify-content-between">
                                        <h6 class="mb-0">Jhon Doe</h6>
                                        <small>15 minutes ago</small>
                                    </div>
                                    <span>Short message goes here...</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 col-xl-4">
                        <div class="h-100 bg-light rounded p-4">
                            <div class="d-flex align-items-center justify-content-between mb-4">
                                <h6 class="mb-0">Calender</h6>
                                <a href="">Show All</a>
                            </div>
                            <div id="calender"></div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 col-xl-4">
                        <div class="h-100 bg-light rounded p-4">
                            <div class="d-flex align-items-center justify-content-between mb-4">
                                <h6 class="mb-0">To Do List</h6>
                                <a href="">Show All</a>
                            </div>
                            <div class="d-flex mb-2">
                                <input class="form-control bg-transparent" type="text" placeholder="Enter task">
                                <button type="button" class="btn btn-primary ms-2">Add</button>
                            </div>
                            <div class="d-flex align-items-center border-bottom py-2">
                                <input class="form-check-input m-0" type="checkbox">
                                <div class="w-100 ms-3">
                                    <div class="d-flex w-100 align-items-center justify-content-between">
                                        <span>Short task goes here...</span>
                                        <button class="btn btn-sm"><i class="fa fa-times"></i></button>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex align-items-center border-bottom py-2">
                                <input class="form-check-input m-0" type="checkbox">
                                <div class="w-100 ms-3">
                                    <div class="d-flex w-100 align-items-center justify-content-between">
                                        <span>Short task goes here...</span>
                                        <button class="btn btn-sm"><i class="fa fa-times"></i></button>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex align-items-center border-bottom py-2">
                                <input class="form-check-input m-0" type="checkbox" checked>
                                <div class="w-100 ms-3">
                                    <div class="d-flex w-100 align-items-center justify-content-between">
                                        <span><del>Short task goes here...</del></span>
                                        <button class="btn btn-sm text-primary"><i class="fa fa-times"></i></button>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex align-items-center border-bottom py-2">
                                <input class="form-check-input m-0" type="checkbox">
                                <div class="w-100 ms-3">
                                    <div class="d-flex w-100 align-items-center justify-content-between">
                                        <span>Short task goes here...</span>
                                        <button class="btn btn-sm"><i class="fa fa-times"></i></button>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex align-items-center pt-2">
                                <input class="form-check-input m-0" type="checkbox">
                                <div class="w-100 ms-3">
                                    <div class="d-flex w-100 align-items-center justify-content-between">
                                        <span>Short task goes here...</span>
                                        <button class="btn btn-sm"><i class="fa fa-times"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->
            <!-- Widgets End -->


            <!-- Footer Start -->
            <div class="container-fluid pt-4 px-4">
                <div class="bg-light rounded-top p-4">
                    <div class="row">
                        <div class="col-12 col-sm-6 text-center text-sm-start">
                            &copy; <a href="#">Your Site Name</a>, All Right Reserved. 
                        </div>
                        <div class="col-12 col-sm-6 text-center text-sm-end">
                            <!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/-->
                            Designed By <a href="https://htmlcodex.com">HTML Codex</a>
                        </br>
                        Distributed By <a class="border-bottom" href="https://themewagon.com" target="_blank">ThemeWagon</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Footer End -->
        </div>
        <!-- Content End -->


        <!-- Back to Top -->
        <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
    </div>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="lib/chart/chart.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/waypoints/waypoints.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="lib/tempusdominus/js/moment.min.js"></script>
    <script src="lib/tempusdominus/js/moment-timezone.min.js"></script>
    <script src="lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>

    <!-- Template Javascript -->
    <script src="js/main.js"></script>
    
</body>

</html>